.theme-inverse a.btn {
    color: #111;
    text-decoration: none;
}

.theme-inverse a.btn-inverse,
.theme-inverse a.btn-inverse {
    color: #fff;
    font-weight: 300;
}

.theme-inverse a.btn-inverse {
    border: 1px solid rgba(255, 255, 255, 0.4);
    margin: 10px;
}

.theme-inverse a:hover.btn-inverse,
.theme-inverse a:hover.btn-inverse {
    color: #f7f7f7;
    background: rgba(255, 255, 255, 0.1);
    font-weight: 300;
}