footer{
    margin-top: 20px;
}
#footer {
    background: #333333;
    min-height: 200px;
    margin-top: 20px;
    padding: 30px 0;
    color: rgba(255, 255, 255, 0.6);
    border-top: 2px solid #5882b1;
    h3 {
        font-size: 1.2em;
        color: rgba(255, 255, 255, 0.8);
        line-height: 1;
    }
    a {
        color: rgba(255, 255, 255, 0.8);
    }
    .block {
        margin-bottom: 2em;
    }
    .inline {
        display: inline-block;
    }
    .contact-block {
        p {
            margin-bottom: 0.2em;
        }
        i {
            padding-right: 0.5em;
        }
    }
    #toplink {
        margin-bottom: -25px;
        text-align: center;
        a:hover {
            text-decoration: none;
            color: #ffffff;
        }
        i {
            color: #5882b1;
        }
    }
    .subfooter {
        border-top: 1px dotted #3E3E3E;
        border-top: 1px dotted rgba(255, 255, 255, 0.1);
        margin-top: 1em;
        padding-top: 1em;
    }
    .container {
        position: relative;
    }
    span.gc-cs-link {
        color: #5882b1;
        text-decoration: none;
    }
}

@media (min-width: @screen-desktop) {
    #footer {
        .footer-menu {
            float: right !important;
        }
    }
}

.footer-column {
    margin-bottom: 22px;
}

footer.theme-default {}

footer.theme-inverse {
    color: #777;
    background: #222;
    border-top: 2px solid #444;
}

footer.theme-default {
    border-top: 2px solid #bbb;
    background: #ddd url('//smccd.edu/static/backgrounds/patterns/groovepaper.png');
}

.theme-inverse a {
    color: #999;
    text-decoration: none;
}

.theme-inverse a:hover {
    color: #ddd;
}

footer.theme-inverse h3 {
    color: #ddd;
}

footer h3 {
    font-weight: 300;
}

footer.theme .footer-theme-top {
    padding-top: 22px;
    padding-bottom: 22px;
}

footer.theme-inverse .footer-theme-bottom {
    background-color: #333;
    color: #999;
    border-top: 1px solid #1b1b1b;
}

.footer-theme-bottom {
    padding-top: 22px;
    padding-bottom: 22px;
    text-align: center;
    font-size: 10px;
}

footer.theme-default .footer-theme-bottom {
    background: #E5E5E5;
}
