#header-hidden-link {
    position: absolute;
    right: 15px;
    top: -15px;
    a.show-hide {
        & > i:before {
            content: "\f078";
            font-family: 'FontAwesome';
            font-size: 16px;
            font-style: normal;
        }
    }
    a.show-hide.open {
        text-decoration: none;
        & > i:before {
            content: "\f077";
        }
    }
}

#header-hidden-link a.show-hide,
#header-hidden-link a.top-link {
    font-size: 0;
    line-height: 1;
    background: #5882b1;
    padding: 0 10px;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    height: 20px;
    display: block;
    text-align: center;
    color: #eeeeee;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

#header-hidden-link a.show-hide i,
#header-hidden-link a.top-link i {
    font-size: 16px;
    line-height: 1;
}

#header-hidden-link a.show-hide:hover,
#header-hidden-link a.top-link:hover {
    text-decoration: none;
    color: #ffffff;
}

.show-hide-open {
    height: auto !important;
    min-height: 40px;
    max-height: 40000px;
    max-height: auto;
    min-height: 0;
}

.show-hide-close {
    height: 0;
    overflow: hidden;
}

#Header {
    position: relative;
}

#navigation {
    .header {
        height: auto;
        -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
        box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
        padding: 20px 0;
    }
}

.block-nav {
    .center-block();
}

#Header,
.js-clingify-placeholder {
    z-index: 9000;
    position: relative;
}

.no-js #MainContent .nav-tabs,
.lt-ie8 #MainContent .nav-tabs {
    display: none;
}

.top-bar {
    min-height: 30px;
    background: #25292C;
    padding: 0;
    color: #bbb;
    a {
        color: #fff;
    }
    .block {
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .btn-sm {
        line-height: 1.2;
    }
}

#TopBar {
    form {
        .input-group {
            width: 230px;
        }
    }
}

#highlighted {
    border-bottom: 0;
}