.img-bg-softer:before {
  background-color: #F2F5F7;
  opacity: .90;
}
.img-bg-soft:before, .img-bg-softer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.theme-inverse .img-bg-softer:before {
  background-color: #090808;
  opacity: .70;
  transform: translateZ(0);
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
  -webkit-backface-visibility: hidden;
}

.theme-inverse:hover .img-bg-softer:before {
  opacity: .80;
}

.theme-inverse .divider {
  border: 0;
  margin: 30px 0;
  height: 4px;
  border-top: #4C4C4C 1px solid;
  border-bottom: #4C4C4C 1px solid;
  text-align: center;
  position: relative;
  clear: both;
}
.theme-inverse .divider .fa {
  color: #4C4C4C;
  background: url(/static/backgrounds/tactile_noise/tactile_noise.png);
  text-align: center;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
  font-size: 20px;
  position: absolute;
  top: -25px;
  left: 50%;
  margin: 0 auto 0 -25px;
}



.divider {
  border: 0;
  margin: 30px 0;
  height: 4px;
  border-top: #ddd 1px solid;
  border-bottom: #ddd 1px solid;
  text-align: center;
  position: relative;
  clear: both;
}
.divider .fa {
  color: #bbb;
  background: #fff;
  text-align: center;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
  font-size: 20px;
  position: absolute;
  top: -25px;
  left: 50%;
  margin: 0 auto 0 -25px;
}

.divider-lg {
  margin: 50px 0;
}
.img-bordered {
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border: 6px solid #fff;
    background-color: #ececec;
}

.img-rounded {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
