.container-logo-smccd {
    .center-block();
}

.navbar-horizontal-lg {
    .smccd-logo {
        .make-lg-column(4);
    }
}

.smccd-logo {
    padding: 20px;
    -webkit-box-shadow: 0 3px 3px -3px rgba(255, 255, 255, 0.2);
    box-shadow: 0 3px 3px -3px rgba(255, 255, 255, 0.2);
    img {
        margin: 0 auto;
    }
}

@media (min-width: @screen-lg-min) {
    .navbar-horizontal-lg {
        .smccd-logo {
            box-shadow: none;
            img {
                margin: 0 !important;
            }
        }
        .container-logo-smccd {
            margin: 0;
        }
    }
}


.container-logo-smccd {
    display: block;
    width: 310px;
    height: 66px;
}

.svg .container-logo-smccd {
    width: 310px;
    height: 64px;
}

.logo-smccd {
    background: url(//smccd.edu/img/district-logo.png) no-repeat 49% center;
    background-size: contain;
    width: 101%;
    height: 101%;
    display: block;
}

.svg .logo-smccd {
    background-image: url(//smccd.edu/static/branding/logos/SMCCCD_Horizontal_Blue.svg);
}

.header-inverse .logo-smccd {
    background-image: url(//smccd.edu/img/district-logo-white.png);
}

.svg .header-inverse .logo-smccd {
    background-image: url(//smccd.edu/static/branding/logos/SMCCCD_Horizontal_White.svg);
}