.addFontAIcon(@icon) {
    content: @icon + "   ";
}

.addBackgroundClipPaddingFix() {
  .background-clip-fix {
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
    }
}

.ie7-restore-right-whitespace() {
   *margin-right: .3em;
 }


