.navbar-horizontal .navbar-smcccd ul.section-menu-nav > li.dropdown.open > a {
  
   -webkit-transition-duration: .0s;
  -moz-transition-duration: .0s;
  -o-transition-duration: .0s;
  transition-duration: .0s;
  -ms-transition-duration: 0s;
}

.navbar-horizontal .navbar-smcccd ul.section-menu-nav > li.dropdown.open > a,
.navbar-nav .open .dropdown-menu
 {
background: white;
  border: none;
  color: #002f65 !important;
}

.navbar-horizontal .navbar-smcccd ul.section-menu-nav > li.dropdown.open ul.dropdown-menu {
  border: none;
}

.navbar-horizontal .navbar-smcccd ul.section-menu-nav > li > a {
   text-transform: uppercase;
   font-size: 90%;
   color: #aaa;
   background:transparent;
}

.navbar-horizontal {
  background: #012147;
}

@media (min-width: @screen-tablet) {
    .navbar-horizontal .navbar-centered .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar-horizontal .navbar-centered .navbar-collapse {
        text-align: center;
    }
}

.navbar-horizontal .navbar-smcccd ul.section-menu-nav > li.active>a, 
.navbar-horizontal .navbar-smcccd ul.section-menu-nav > li.active>a:hover, 
.navbar-horizontal .navbar-smcccd ul.section-menu-nav > li.active>a:focus,
.navbar-horizontal .navbar-smcccd ul.section-menu-nav > li > a:hover {
  color: white !important;
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  -ms-transition-duration: 0s;

} 
.navbar-horizontal .nav>li>a:hover, .nav>li>a:focus {

background-color: transparent;
}

.navbar-horizontal .icon-bar {
  background: white;
}



.secondary-nav {
    margin: 0;
    padding: 0;

    li {
        a {
            margin: 0 0 1px 0;
            padding: 8px 0.5em;
            background: rgba(85, 167, 154, 0.05);
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            border: 1px solid rgba(85, 167, 154, 0.1);

            i {
                -webkit-transition: all 0.2s ease-in;
                transition: all 0.2s ease-in;
                opacity: 60;
                filter: alpha(opacity=6000);
            }
        }
        a:hover {
            background: rgba(85, 167, 154, 0.1);

            i {
                opacity: 90;
                filter: alpha(opacity=9000);
            }
        }
        ul {
            margin: 0 0 1px 0;
            padding: 8px 1em;
            border: 1px solid rgba(85, 167, 154, 0.3);
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            background: rgba(85, 167, 154, 0.1);
        }
    }
    li.active {
        a {
            background: #5882b1;
        }
    }
}


/***/

.sidebar-nav {
    padding-right: 0;
}

#menu-menu {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.sidebar-nav,
.sidebar-nav p {
    color: #8387ad;
    text-align: center;
}

.sidebar-nav a {
    color: #8387ad;
}

.sidebar-nav a:hover {
    color: #fff;
    text-decoration: none;
}
#site-navigation {
    font-size: 16px;
    margin-top: 10px;
    border-top: 1px solid #363b61;
}

#site-navigation a:hover,
#site-navigation .current-menu-item > a {
    color: #fff;
}

#site-navigation li {
    display: block;
}

#site-navigation .main-nav > li > a {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #363b61;
    -webkit-transition: background .8s ease-out;
    -moz-transition: background .8s linear;
    transition: background .8s linear;
}

#site-navigation .sub-menu {
    display: none;
    font-size: 14px;
}

#site-navigation .sub-menu .sub-menu {
    font-size: 13px;
}

#site-navigation .main-nav > li > .sub-menu {
    border-bottom: 1px solid #363b61;
    padding: 5px 0 10px;
}

#site-navigation .main-nav > li > a:hover {
    background: rgba(0, 0, 0, 0.1);
    -webkit-transition: background .01s ease-out;
    -moz-transition: background .01s linear;
    transition: background .01s linear;
}

#site-navigation .sub-menu li {
    border: none;
    padding: 0;
    margin-top: 5px;
}

#site-navigation a .fa-caret-down,
#site-navigation a .fa-caret-up {
    margin-left: 7px;
    font-size: 11px;
    position: relative;
    top: -1px;
}


/* Sidebar - Secondary
================================================== */

#secondary-sidebar {
    color: #777
}

#secondary-sidebar a {
    color: #f56650
}

#secondary-sidebar a:hover {
    color: #000;
    text-decoration: none;
}

#secondary-sidebar {
    margin-bottom: 30px
}

#secondary-sidebar .widget-title {
    font-family: "Roboto Slab";
    display: block;
    color: #000;
    font-size: 16px;
    margin: 0 0 10px;
    font-weight: bold;
    font-weight: 600;
}

#secondary-sidebar .textwidget a {
    text-decoration: underline
}

#secondary-sidebar .widget-box {
    margin-bottom: 20px;
}

#LocalNavigation{
    margin: 0 -15px;
}