.title-divider {
    text-align: left;
    margin-bottom: 1em;
    background: #ffffff url(../img/bg_divider.png) left center repeat-x;
    padding: 0;
}

.title-divider span {
    background: #ffffff;
    padding-right: 0.5em;
}

.title-divider small {
    display: block;
    color: rgba(51, 51, 51, 0.6);
}

h2.page-title-centered {
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 36px;
    small {
        display: block;
        font-size: 60%;
    }
}

.page-elements h3.title-divider {
    margin-top: 2em;
}

h1.section-title {
    font-size: 30px;
}

h2 span {
    font-weight: 600;
}

h2 small {
    display: block;
    font-size: 50%;
}

h3 {
    font-weight: 600;
}

.fancy {
    font-family: 'Calligraffitti', cursive;
    text-transform: lowercase;
}

// .more-link:hover {
//     border-bottom: 3px solid #5882b1;
//     text-decoration: none;
// }

footer.theme-inverse span.gc-cs-link {
    color: #777;
    text-decoration: none;
}


span.p {
  padding: 0 0 10px;
  display: block;
-webkit-padding-before: 1em;
-webkit-padding-after: 1em;
-webkit-padding-start: 0px;
-webkit-padding-end: 0px;
}

h1.title-alt {
    color: #266197;
    font-size: 230%;
    font-weight: 600;
    font-family: 'Lora', serif;
}


h1.portal-title {
    line-height: 1.3;
    color: #2b303b;
    font-size: 340%;
    margin-top: 0;
    font-weight: 800;
    font-family: 'Open Sans';
    line-height: 1.5;
}

h2.portal-subtitle {
    line-height: 1.3;
    font-weight: normal;
    color: #2b303b;
    font-family: 'Lora', serif;
    margin-top: 0;
    font-size: 210%;
}


.institutions {
    font-size: 16px;
    margin-top: 20px;
    color: #ccc;
}

.middle-line {
    display: block;
    color: #555;
    font-size: 90%;
    letter-spacing: 2px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.middle-line-light {
    color: rgba(255, 255, 255, 0.4);
}

@media (min-width: @screen-tablet) {
    .middle-line:before {
        margin-left: -50%;
        text-align: right;
    }
}

@media (min-width: @screen-tablet) {
    .middle-line:after,
    .middle-line:before {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 49%;
        height: 1px;
        content: 'a0';
        background-color: #ccc;
    }
    .middle-line-light:after,
    .middle-line-light:before {
        background-color: rgba(255, 255, 255, 0.4);
    }
}

.emphasize {
    background: linear-gradient(transparent, transparent), linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: .05em 1px, .05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    text-shadow: .03em 0 transparent, -.03em 0 transparent, 0 .03em transparent, 0 -.03em transparent, .06em 0 transparent, -.06em 0 transparent, .09em 0 transparent, -.09em 0 transparent, .12em 0 transparent, -.12em 0 transparent, .15em 0 transparent, -.15em 0 transparent;
    background-position: 0 87%, 100% 87%, 0 93%;
}