//
// SMCCD
// --------------------------------------------------
@min-height: 500px;
@homeLinkColor: @link-color;
@footerBorderColor: @link-color;

@menuButton: #6182a3;
@navBorderColor: @link-color;
 

// Reset inverted navbar basics
@navbar-main-color:                      @gray-light;
@navbar-main-bg:                         #8e1016;//#002f65;
@navbar-main-border:                     lighten(@navbar-main-bg, 15%);

// Navbar links
@navbar-main-link-color:                #777;
@navbar-main-link-hover-color:          #333;
@navbar-main-link-hover-bg:             darken(@navbar-main-bg, 3%);
@navbar-main-link-active-color:         #555;
@navbar-main-link-active-bg:            darken(@navbar-main-bg, 6.5%);
@navbar-main-link-disabled-color:       #ccc;
@navbar-main-link-disabled-bg:          transparent;

// Navbar brand label
@navbar-main-brand-color:               @navbar-main-link-color;
@navbar-main-brand-hover-color:         darken(@navbar-main-link-color, 10%);
@navbar-main-brand-hover-bg:            transparent;

// Navbar toggle
@navbar-main-toggle-hover-bg:           #ddd;
@navbar-main-toggle-icon-bar-bg:        #ccc;
@navbar-main-toggle-border-color:       #ddd;

/* New styles */

@navbar-default-color:             #777;
@navbar-default-bg:                #f8f8f8;
@navbar-default-border:            darken(@navbar-default-bg, 6.5%);

// Navbar links
@navbar-default-link-color:                #777;
@navbar-default-link-hover-color:          #333;
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         #555;
@navbar-default-link-active-bg:            darken(@navbar-default-bg, 6.5%);
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;

@theme-gray-lighter: #f7f7f7;