.feature-landing-header {
 background-color: #F2F5F7;
 position:relative;
 background-repeat: no-repeat;
}

.feature-landing-header {
  background-size: cover;
}

.feature-landing-header.zoom {
  -o-transition:  background-size 0.25s ease-in;
  -ms-transition: background-size 0.25s ease-in;
  -moz-transition: background-size 0.25s ease-in;
  -webkit-transition: background-size 0.25s ease-in;
  /* ...and now override with proper CSS property */
  transition: background-size 0.25s ease-in;    
  
}

.feature-landing-header.zoom:hover { 
  background-size: 102% 102%;
}


.feature-landing-header h1 {
 color: #002f65;
}


.feature-landing-header h1 {
  text-transform: uppercase;
  font-weight:bold;
}
.feature-landing-header .inner {
   padding-top: 30px;
   padding-bottom: 30px;
}


.feature-landing-header-sm .inner {
    padding-top: 20px;
    padding-bottom: 20px;
    position:relative;
}

@media (min-width: @screen-sm-min) {
  .feature-landing-header .inner {
     padding-top: 40px;
     padding-bottom: 40px;
  }
  .feature-landing-header-sm .inner {
    padding-top: 40px;
    padding-bottom: 40px;
    position:relative;
  }
  
}

@media (min-width: @screen-md-min) {
  .feature-landing-header h1 {
    font-size:40px;
  }
  .feature-landing-header .inner {
     padding-top: 60px;
     padding-bottom: 60px;
  }
  .feature-landing-header-sm .inner {
    padding-top: 40px;
    padding-bottom: 40px;
    position:relative;
  }
  
}



@media (min-width: @screen-lg-min) {
  .feature-landing-header h1 {
    font-size:60px;
    margin-left: -4px;
  }
  .feature-landing-header .inner {
     padding-top: 100px;
     padding-bottom: 100px;
  }
  .feature-landing-header-sm .inner {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.feature-landing-header .breadcrumb {
 margin-bottom: 0;
 font-weight: 600;
 color: #aaa;
 font-size:15px;
}
.feature-landing-header  .breadcrumb>li+li:before {
  content: "\f105";
  padding: 0 7px 0 5px;
  color: #777;
  font-family: FontAwesome;
}

.feature-landing-header .breadcrumb>.active {
  color: #777;
}



.feature-description {
  font-size: 22px; 
  line-height: 135%;
  margin-top: 17px;
  font-size: 24px;
  line-height: 150%; 
  font-weight: 400; 
  letter-spacing: .015em; text-transform: none; margin-top: 20px; margin-bottom: 0; -webkit-transition: font 200ms ease-out, margin 200ms ease-out; -moz-transition: font 200ms ease-out, margin 200ms ease-out; -o-transition: font 200ms ease-out, margin 200ms ease-out; transition: font 200ms ease-out, margin 200ms ease-out; font-size: 18px; line-height: 135%; margin-top: 17px; color: #506A85; 
}

.feature-landing-header-inverse {
  background-color: #050607;
}

.feature-landing-header-inverse h1 {
  color: #bebebe;
}

.feature-landing-header-inverse .feature-description {
  color: #bebebe;
}

ul.list-style-angle-right {
  > li {
    list-style-type: none;
  }
  > li:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\f105  ";
    margin: 0 5px 0 -15px;
  } 
}

ul.list-style-fa-certificate {
  >li {
    list-style-type: none;
  }
  >li:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\f0a3  ";
    margin: 0 5px 0 -15px;
  } 
}


ul.list-size-lg {
  font-size:120%;
}

ul.list-style-angle-right {

    > li {
      line-height: 1.7; 

      > a {
      border-bottom: 1px dashed #ddd;
      text-decoration: none;
      }
      > a:hover {
        color: #555;
        border-bottom-color: #555;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
      }
    }

  

}



.theme-inverse {

  ul.list-style-angle-right {

    > li {
      line-height: 1.7;

       > a {
        color: #FFFFFF;
        border-bottom: 1px dashed #4E4E4E;
        text-decoration: none;
      }
      > a:hover {
        color: #bbb;
        border-bottom-color: #bbb;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
      }
    }

   


  }

}



/* @media (min-width: @screen-lg-min) {
  .feature-landing-header {
    background-attachment: fixed;
    background-size: auto 600px;
  }
  } */

  .block-form img {
    height: 100px;
    display: block;
    margin: 0 auto;
  }
  .block header {
    text-align: center;
  }
  form.boxed header {
    margin: 0;
    background: #F5F5F5;
    background-color: transparent;
    background: -webkit-linear-gradient(top, white 1%, #f9f9f9 98%) repeat scroll 0 0 transparent;
    background: linear-gradient(to bottom, white 1%, #f9f9f9 98%) repeat scroll 0 0 transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-bottom: rgba(0, 0, 0, 0.07) 1px solid;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 400;
  }
  form.boxed {
    border: rgba(0, 0, 0, 0.1) 1px solid;
  }
  form.form-subscribe {
    margin-bottom: 30px;
  }
  form.form-subscribe,
  form.form-subscribe .label {
    color: #333;
    text-align: left;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
  }
  form.form-subscribe fieldset {
    padding: 15px;
    display: block;
    border: none;
  }

  form.form-subscribe label {
    display: none;
  }

  .has-feedback .form-control-feedback {
    line-height: 25px;
    top: 5px;
  }



  .feature-landing-header-alt {
    background-color: #122B47;
    background-image: url(/static/backgrounds/tactile_noise/tactile_noise.png);
    background-size: auto;
    background-repeat: repeat;;

  }
  form.form-subscribe header {
    font-size: 23px;
  }
  .feature-landing-header-fa-right {
    position: absolute;
    color: #3A3A3A;
  }

@media (min-width: @screen-md-min) {
  .feature-landing-header-fa-right {
    font-size: 490px;
    right: 8%;
    bottom: -100px; 
  }
}

@media (min-width: @screen-lg-min) {
  .feature-landing-header-fa-right {
    font-size: 520px;
    right: 10%;
    bottom: -110px;  
  }
}

.section-block-lg {
  margin-top: 40px;
}

.feature-landing-header-bg-img {
  overflow: hidden;
}

a.container-logo-smccd {
  display: block;
}

.container-logo-smccd {
  display: block;
  width: 310px;
  height: 66px;
}

.svg .container-logo-smccd {
  width: 310px;
  height: 64px;
}

  .logo-smccd {
    background: url(//smccd.edu/img/district-logo.png) no-repeat 49% center;
    background-size: contain;
    width:101%;
    height: 101%;
    display: block;
  }

  .svg .logo-smccd {
    background-image: url(//smccd.edu/static/branding/logos/SMCCCD_Horizontal_Blue.svg);
  }

  .header-inverse .logo-smccd {
    background-image: url(//smccd.edu/img/district-logo-white.png);
  }

  .svg .header-inverse .logo-smccd {
    background-image: url(//smccd.edu/static/branding/logos/SMCCCD_Horizontal_White.svg);
  }

.theme-alt a:link {
  color: #f7f7f7;
  border-bottom: 0.08em dashed #A35C56;
}

div.featured-box {
  padding: 23px;
  background: rgba(0,0,0,0.01);
  text-align: center;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

div.featured-box {
  h4 {
    line-height: 1.3;
  }
  h3 {
   margin-bottom: 20px;
   font-size: 21px;
  }
}

.featured-box-content {
  text-align: left;
}

.featured-box-content > ul {
  display: table;
  margin: 0 auto;
}

.noborder {
  border: 0 !important;
}




div.featured-box i.fa-style-circle {
  padding: 0;
  color: #fff;
  margin: 20px 0;
  font-size: 40px;
  text-align: center;
  position: relative;

  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.fa-style-circle { 
  background-color: #5882b1;
  }

.fa-stack .fa-stack-base {
  color: #222;
}

.fa-style-circle-primary {
  background: #002f65;
}
.fa-style-circle-alt {
  background: #72312b;
}
.fa-style-circle-alt2 {
  background: #5882b1;
}
.fa-style-circle-alt3 {
  background: #8d9848;
}

div.featured-box i.fa:after {
  color: #A94545;
  border-color: #A94545;
  transform: scale(1.1);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #333;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin-top: -100px;
}


div.featured-box:hover {
  background: rgba(0,0,0,0.03);
}

ul.list-style-fa {
  line-height: 1.7;
}

ul.list-style-angle-right > li > a {
border-bottom: 1px dashed #ddd;
text-decoration: none;
}

.breadcrumb>li+li:before {
  content: '\f105';
  padding: 0 7px 0 5px;
  color: #777;
  font-family: FontAwesome;
}