   div.featured-box {
      padding:0;
    }
    div.featured-box.featured-ccce {
           padding-bottom: 35px;

    }
    div.featured-box i.fa-style-circle {
      font-size: 25px;
      text-indent: 3px;
      width: 60px;
      height: 60px;
      line-height: 60px;
    }

    .featured-box-heading h3 {
      font-size:30px !important; 
      font-weight: normal;
      
    }
    .featured-box-heading p {
      font-weight: 300;
      font-size:19px; 
      text-align: center
    }

    
