@import "feature-headers.less";
@import "featured-box.less";

/* --------------------------------------------------
 * Features
 *-------------------------------------------------- */
 .features .title {
    margin-top: 10px;
}

.features .feature {
    margin-bottom: 2em;
}

.features .feature:before,
.features .feature:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.features .feature:after {
    clear: both;
}

.features .feature img {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#fafafa), to(#ebebeb));
    background-image: -webkit-linear-gradient(top, #fafafa, 0%, #ebebeb, 100%);
    background-image: -moz-linear-gradient(top, #fafafa 0%, #ebebeb 100%);
    background-image: linear-gradient(to bottom, #fafafa 0%, #ebebeb 100%);
    background-repeat: repeat-x;
    filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffebebeb', GradientType=0)";
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.features .feature img:hover {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f5f5f5), to(#e0e0e0));
    background-image: -webkit-linear-gradient(top, #f5f5f5, 0%, #e0e0e0, 100%);
    background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e0e0e0 100%);
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #e0e0e0 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe0e0e0', GradientType=0);
}

@media (min-width: @screen-tablet) {
    .features .feature {
        margin-bottom: 1em;
    }

    .features .feature.tab-pane {
        padding-left: 15px;
        padding-right: 15px;
    }

    .features .feature.tab-pane img {
        min-width: 260px;
    }
}

    .features  {
        margin-bottom: 15px;
        margin-left: -5px;
        margin-right: -5px;
        padding: 0;
    }

    .features ul li {
      border-right: 2px solid transparent;
      table-layout: fixed;
  }



  .features ul li a{
    width: 100%;
}

.features ul li a small {
    display:block;
    font-weight:300;
    font-size: 70%;
}


.features ul li a:hover, .features ul li a:active{
    background: #5882b1;
    -webkit-transition: background .5s;
    transition: background .5s;
}


.features {
  margin: 0;
}
.features ul li {
    display: table;
    overflow: hidden;
    padding: 0;
    height: 110px;
    margin-bottom: 2px;
}
.features ul li a {
    text-align: right;
    width: 100%;
    padding: 15px;
    margin: 0 15px;
    line-height: 1.2;
    display: table-cell;
    text-decoration: none;
    font-size: 130%;
    vertical-align: bottom;
    background: #002f65;
    color: #fff;
    box-shadow: inset 0 0 14px #444;
}


.feature-box {

    margin-bottom: 0;
    border-left: 3px solid #5882b1;
    padding: 37px;
    background: #f4f8fa;
    padding-bottom: 10px;
    margin: 25px 0;
    margin-top: 0;

    .feed-item-title {
        font-size: 166%;
    }

    .feed-item-excerpt {
        font-size: 117%;
        margin: 11px 0;
    }

}
.features .title {
  margin-top: 10px;
}
.features .thumbnails li {
  *zoom: 1;
}
.features .thumbnails li:before,
.features .thumbnails li:after {
  display: table;
  content: "";
  line-height: 0;
}
.features .thumbnails li:after {
  clear: both;
}
.features .thumbnails li img {
  background-color: #f4f4f4;
  #gradient > .vertical(#fafafa, #ebebeb);
  border: 1px solid #e6e6e6;
  .border-top-radius(2px);
}
.features .thumbnails li img:hover {
  background-color: #ededed;
  #gradient > .vertical(#f5f5f5, #e0e0e0);
}
.features .thumbnails li i {
  float: right;
  margin: 0.5em;
}