@import "mixins.less";


.flexslider {
    margin: 0 0 60px;
    position: relative;
    zoom: 1;
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

.loading .flex-viewport {
    max-height: 300px;
}

.flexslider .slides {
    zoom: 1;
}
.flex-direction-nav {
    *height: 0;
}

.flex-direction-nav a {
    width: 30px;
    height: 30px;
    margin: -20px 0 0;
    display: block;
    background: transparent;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 0;
    -webkit-transition: all .3s ease;
}

.flex-direction-nav .flex-next {
    background-position: 100% 0;
    right: -36px;
}

.flex-direction-nav .flex-prev {
    left: -36px;
}

.flexslider:hover .flex-next {
    opacity: 0.8;
    right: 5px;
}

.flexslider:hover .flex-prev {
    opacity: 0.8;
    left: 5px;
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
    opacity: 1;
}

.flex-direction-nav .flex-disabled {
    opacity: .3 !important;
    filter: alpha(opacity=30);
    cursor: default;
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;
}

.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}

.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0,0,0,0.7);
}

.flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0,0,0,0.9);
    cursor: default;
}

.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
}

.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0;
}

.flex-control-thumbs img {
    width: 100%;
    display: block;
    opacity: .7;
    cursor: pointer;
}

.flex-control-thumbs img:hover {
    opacity: 1;
}

.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
}

.flexslider {
    margin: 0 0 20px 0;
    background: transparent;
    border: 0;
    position: relative;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    zoom: 1;
}

.flexslider .slides img {
    width: auto;
}

.flex-direction-nav {
    *height: 0;
}

.flex-direction-nav a {
    width: 21px;
    height: 21px;
    margin-top: -10px;
    display: block;
    background: transparent;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    text-indent: 0;
    font-size: 0;
    color: transparent;
    opacity: 1;
    -webkit-transition: all .3s ease;
}

.flex-direction-nav .flex-next {
    background: transparent;
    right: 0;
}

.flex-direction-nav .flex-prev {
    background: transparent;
    left: 0;
}

.flexslider:hover .flex-next {
    opacity: 1;
    right: 0;
}

.flexslider:hover .flex-prev {
    opacity: 1;
    left: 0;
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
    opacity: 1;
}

.flex-direction-nav .flex-disabled {
    opacity: 1 !important;
    filter: alpha(opacity=100);
    cursor: default;
}

.flexCarousel {
    padding: 0 46px;
    border-top: 1px solid #e8ecf0;
}

.flexCarousel .flexslider {
    margin: 0;
}

.flexCarousel .flexslider img {
    border: 0;
    border-left: 1px solid #e8ecf0;
    padding: 0;
    margin: 0;
}

.flexCarousel .flexslider {
    margin: 0;
}

.flexCarousel .flexslider .flex-direction-nav a {
    font-size: 0;
    color: transparent;
    display: block;
    height: auto;
    width: 46px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -46px;
    right: auto;
    z-index: 2;
    border: 0;
    margin: 0;
    background: transparent;
}

.flexCarousel .flexslider .flex-direction-nav a:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    color: #26292e;
    content: "\f104";
    position: relative;
    top: 58px;
    left: 16px;
}

.flexCarousel .flexslider .flex-direction-nav a.flex-disabled:before {
    color: #ccc;
}

.flexCarousel .flexslider .flex-direction-nav .flex-next {
    left: auto;
    right: -46px;
    border-left: 1px solid #e8ecf0;
}

.flexCarousel .flexslider .flex-direction-nav .flex-next:before {
    content: "\f105";
    left: 18px;
}

.flexCarousel .flexslider .flex-direction-nav a:hover {
    background: #f78927;
}

.flexCarousel .flexslider .flex-direction-nav a:hover:before {
    color: #fff;
}

.mainslider {
    height: 350px;
    position: relative;
}

.container > .mainslider .flexFull.flexslider {
    height: 350px;
    margin-top: 0 !important;
}

.flex-control-nav {
    z-index: 3000;
    bottom: 20px;
}

.flex-direction-nav a.flex-prev, .flex-direction-nav a.flex-next {
    color: white;
}

.mainslider .flexFull.flexslider .slides > li > div.background-image {
    height: 350px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.mainslider .flexFull.flexslider .sliderBox,
.mainslider .flexFull.flexslider .sliderDesc {
    margin-top: 0 !important;
}

// .container {
//     position: relative;
// }

.flexFull.flexslider.loading-slider {
    /*background: transparent url("../images/ajax-loader.gif") no-repeat center 270px;*/
}

.flexFull.flexslider {
    height: 350px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    /*margin-top: -73px;*/
}
.flexFull.flexslider .navFlexFull {
    position: absolute;
    height: 45px;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    text-align: center;
    z-index: 2;
}

.flexFull.flexslider .slides > li > div {
    background-color: transparent;
    background-position: top center;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
/* .flexFull.flexslider .container {
  background: transparent;
  z-index: 0;
} */
.flexslider.simpleSlider .navFlex {
    display: block;
    height: 45px;
    border-bottom: 1px solid #c1c5c9;
    background: #e8ecf0;
    text-align: center;
    position: relative;
}

.flexslider.simpleSlider .flex-direction-nav {
    z-index: 3;
}

.flexslider.simpleSlider .flex-direction-nav a {
    height: 45px;
    width: 45px;
    margin: 0;
    border-right: 1px solid #c1c5c9;
    position: absolute;
    top: auto;
    left: 0;
    bottom: 0;
}

.flexslider.simpleSlider .flex-direction-nav a:before {
    display: block;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    color: #26292e;
    content: "\f104";
    font-size: 24px;
    position: relative;
    top: 12px;
    left: 0;
}

.flexslider.simpleSlider .flex-direction-nav .flex-next {
    border-right: 0;
    border-left: 1px solid #c1c5c9;
    position: absolute;
    left: auto;
    right: 0;
}

.flexslider.simpleSlider .flex-direction-nav .flex-next:before {
    content: "\f105";
    left: 1px;
}

.flexslider.simpleSlider .flex-direction-nav a:hover {
    background: #f78927;
}

.flexslider.simpleSlider .flex-control-paging {
    margin: 16px 0 0 0;
    position: static;
    display: inline-block;
    width: auto;
}

.flexslider.simpleSlider .flex-control-paging li {
    display: block;
    float: left;
}

.flexslider.simpleSlider .flex-control-paging li a {
    width: 5px;
    height: 5px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #26292e;
    margin: 3px;
}

.flexslider.simpleSlider .flex-control-paging li a.flex-active {
    border: 3px solid #f78927;
    margin: 0;
}

.slide .container {
    min-height: 350px;
}
.container.container-flex {
    padding-left: 0;
    padding-right: 0;
}
@media (min-width:900px) {
  
    .slide .container {
        /*margin-left: 0;*/
    }

    
}

.container-flex {
        width: 100%;
    }

@media (min-width:1411px) {

.container-flex {
        width: 1411px !important;
    }
}




    .flexslider-wrapper {
        position: relative;
        overflow: hidden;
    }

    .flexslider {
        background: transparent;
        padding: 0;
        list-style: none;
        margin: 0;
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .flexslider {
      /* Hide the slides before the JS is loaded. Avoids image jumping */
  }

  .flexslider .slides > .slide,
  .flexslider .items > .item {
    display: none;
    -webkit-backface-visibility: hidden;
}

.flex-direction-nav a {
    text-indent: 0;
    font-size: 0;
    text-align: center;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    bottom: 0;
    right: 0;
    background: none;
    color: #5882b1;
    width: 50px;
    height: 100px;
    line-height: 100px;
    top: 50%;
    font-weight: 100;
    margin-top: -50px;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}

.flex-direction-nav a:before {
    content: '\f105';
    font-family: 'FontAwesome';
    font-size: 50px;
    font-weight: bold;
}

.flex-direction-nav a.flex-next {
    right: 0;
    text-align: center;
}

.flex-direction-nav a.flex-next:before {
    content: '\f105';
}

.flex-direction-nav a.flex-prev {
    left: 0;
    right: auto;
}

.flex-direction-nav a.flex-prev:before {
    content: '\f104';
}

.flex-direction-nav a:hover {
    text-decoration: none;
}

.flex-control-nav {
    position: absolute;
    bottom: 5px;
    right: 10px;
    text-align: center;
    width: auto;
}

.flex-control-nav li {
    margin: 0 3px;
}

.flex-control-nav li a {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 15px;
    width: 15px;
    background: #bbbbbb;
}

.flex-control-nav li a:hover,
.flex-control-nav li a.flex-active {
    background: #5882b1;
}



.slide {
    overflow: hidden;
}



.slide .caption {
    padding: 5%;
    text-align: center;
}

.slide .caption h1,
.slide .caption h2,
.slide .caption h3,
.slide .caption h4,
.slide .caption h5,
.slide .caption p {
    margin-top: 0;
    font-weight: normal;
}

.slide .caption .btn {
    margin: 0;
}

.slide .caption .inverse {
    background: #1b1b1b;
    color: #ffffff;
    padding: 5px;
    display: inline-block;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.slide .caption .inverse a {
    color: rgba(255, 255, 255, 0.9);
}

.flexslider .slide img {
    width: auto;
    display: inline;
    max-width: 100%;
    height: auto !important;
}

.slide-bg {
    position: absolute;
    left: auto;
    right: auto;
    height: 100%;
    width: 100%;
    z-index: -1;
    display: block;
}

@media (min-width: @screen-tablet) {
    .slide .caption {
        text-align: left;
    }
}

@media (max-width: 860px) {
    .flex-direction-nav {
        display: none;
    }

  /*  .flex-control-nav {
        bottom: 0;
    }*/

    .flexslider {
        padding-bottom: 0;
    }

    .flexslider .flex-control-nav {
        display: block;
    }
}

@media (min-width: @screen-desktop) {
    .flexslider-full-width-underlay #hero {
        margin-top: -140px;
    }

    .flexslider-full-width-underlay .slide-content {
        margin-top: 140px;
    }

    .flexslider-full-width-underlay .slide {
        height: 500px;
    }

    .slide .caption {
        padding: 5% 0;
    }
}
.international-slider,
    .flexFull.flexslider .slides > li > div {

  background-size: cover;
}
.international-slider {
      min-height: 0;
  height: 271px !important;
}


@media (min-width: @screen-md-min) {
    /*.slide .container {
      position: absolute;
      left: 50%;
      top: 0;
      height: 100%;
    } */
    .international-slider,
     {
      height: 671px !important;
    }

}

@media (min-width: @screen-md-min) {
    

    .slide-text-position-left-middle {
        top: 40%;
    }
    .slide-text-position-left-bottom {
        top: 60%;
    }

    .slide-text-position-left-top {
        top: 20%;
    }

    .slide-text-position-right-middle {
        top: 40%;
        right: 0;
    }
    .slide-text-position-right-bottom {
        bottom: 0;
        right: 0;
    }

    .slide-text-position-right-top {
        top: 20%;
        right: 0;
    }
}

.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
    outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flexslider {
    margin: 0;
    padding: 0;
}

.flexslider .slides > li {
    display: none;
}

.flexslider .slides img {
    width: 100%;
    display: block;
}

.flex-pauseplay span {
    text-transform: capitalize;
}

.carousel li {
    margin-right: 5px;
}

.slides:after { 
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

.no-js .slides > li:first-child {
    display: block;
}

.slide {
      position: relative;
      background: rgb(27, 28, 32);
    }
    
    

   .slideshow  {

}
.slideshow  .call-to-action .inverse {
  color: white;
  background: black;
}
.slideshow .call-to-action h2 {
  font-size: 33px;
  font-weight: normal;
  margin:0;
  padding: 15px 0;
}


.slides .slide > div {
  text-align: center;
}

.description {
    color: #555;
}


#SFGallery {
    margin-bottom:5px;
}

@import "slide-text.less";