.slides { 
  .slide {
    .slide-text {
        position: absolute;
        z-index: 10000;
        text-align: left;
        font-size: 140%;

        h1 {
            font-weight: 600;
            margin: 3px 0;
            margin-bottom: 0;
            margin-left: 0;
            font-size: 170%;
        }
        h1.slide-text-sm {
          span {
            font-size: 70%;  
          }
        }
        h1.slide-text-lg {
          span {
            font-size: 130%;  
          }
        }
        

    }
    .slide-text-light {
        color : white;
    }

    .slide-text-boxed {
      h1 {
        margin: 0;
        
        span {
          background: black;
          color: white;
          padding: 10px 20px;
          display: inline-block;
          background: rgba(46,55,60,0.8);
          text-transform: uppercase;
          text-shadow: 0 1px 2px rgba(0,0,0,.6);
         }
      }
      p.slide-caption {
        span {
          color: #7F000C;
          background: black;
          background: rgba(88,130,177,0.8);
          text-shadow: 0 1px 2px rgba(0,0,0,.6);
          color: white;
          text-decoration: none;
          padding: 10px 20px;
          display: inline-block;
          clear: both;
        }
      }

    }

.slide-text-position-left-bottom {
top: auto;
bottom: 10%;
}

.slide-text .slide-caption.slide-text-xl span {
  font-size: 190%;  }


.custom-loop( 20 , @base-value: 0, @unit: '%', @property:bottom, @selector: ~".slide-text-position-bottom", @step-size: 5);

.slide-text-position-right {
  right: 0;
  left: auto;
  text-align: right !important;
}


.slide-text-boxed.slide-text-light p.slide-caption span, .slide-text-boxed.slide-text-light h1 span {
    background: black;
    color: white;
}
 .slide-text-boxed h1 {
        margin-bottom: 10px;
   }


   .slide-caption-lg {
  font-size:170%;
  font-weight:600;
}
.slide-caption-md {
  font-size:150%;
  font-weight:600;
}


.slide-text-position-bottom-0 {
  bottom: 0%;
  top: auto;
}
.slide-text-position-bottom-3 {
  bottom: 3%;
  top: auto;
}
.slide-text-position-bottom-5 {
  bottom: 5%;
  top: auto;
}
.slide-text-position-bottom-10 {
  bottom: 10%;
  top: auto;
}
.slide-text-position-bottom-15 {
  bottom: 15%;
  top: auto;
}
.slide-text-position-bottom-20 {
  bottom: 20%;
  top: auto;
}
.slide-text-position-bottom-25 {
  bottom: 25%;
  top: auto;
}
.slide-text-position-bottom-30 {
  bottom: 30%;
  top: auto;
}
.slide-text-position-bottom-35 {
  bottom: 35%;
  top: auto;
}
.slide-text-position-bottom-40 {
  bottom: 40%;
  top: auto;
}
.slide-text-position-bottom-45 {
  bottom: 45%;
  top: auto;
}
.slide-text-position-bottom-50 {
  bottom: 50%;
  top: auto;
}
.slide-text-position-bottom-55 {
  bottom: 55%;
  top: auto;
}
.slide-text-position-bottom-60 {
  bottom: 60%;
  top: auto;
}
.slide-text-position-bottom-65 {
  bottom: 65%;
  top: auto;
}
.slide-text-position-bottom-70 {
  bottom: 70%;
  top: auto;
}
.slide-text-position-bottom-75 {
  bottom: 75%;
  top: auto;
}
.slide-text-position-bottom-80 {
  bottom: 80%;
  top: auto;
}
.slide-text-position-bottom-85 {
  bottom: 85%;
  top: auto;
}
.slide-text-position-bottom-90 {
  bottom: 90%;
  top: auto;
}
.slide-text-position-bottom-95 {
  bottom: 95%;
  top: auto;
}

.slide-text-position-top-0 {
  top: 0%;
  bottom: auto;
}
.slide-text-position-top-5 {
  top: 5%;
  bottom: auto;
}
.slide-text-position-top-10 {
  top: 10%;
  bottom: auto;
}
.slide-text-position-top-15 {
  top: 15%;
  bottom: auto;
}
.slide-text-position-top-20 {
  top: 20%;
  bottom: auto;
}
.slide-text-position-top-25 {
  top: 25%;
  bottom: auto;
}
.slide-text-position-top-30 {
  top: 30%;
  bottom: auto;
}
.slide-text-position-top-35 {
  top: 35%;
  bottom: auto;
}
.slide-text-position-top-40 {
  top: 40%;
  bottom: auto;
}
.slide-text-position-top-45 {
  top: 45%;
  bottom: auto;
}
.slide-text-position-top-50 {
  top: 50%;
  bottom: auto;
}
.slide-text-position-top-55 {
  top: 55%;
  bottom: auto;
}
.slide-text-position-top-60 {
  top: 60%;
  bottom: auto;
}
.slide-text-position-top-65 {
  top: 65%;
  bottom: auto;
}
.slide-text-position-top-70 {
  top: 70%;
  bottom: auto;
}
.slide-text-position-top-75 {
  top: 75%;
  bottom: auto;
}
.slide-text-position-top-80 {
  top: 80%;
  bottom: auto;
}
.slide-text-position-top-85 {
  top: 85%;
  bottom: auto;
}
.slide-text-position-top-90 {
  top: 90%;
  bottom: auto;
}
.slide-text-position-top-95 {
  top: 95%;
  bottom: auto;
}
.slide-text-position-left-0 {
  left: 0%;
  right: auto;
}
.slide-text-position-left-5 {
  left: 5%;
  right: auto;
}
.slide-text-position-left-10 {
  left: 10%;
  right: auto;
}
.slide-text-position-left-15 {
  left: 15%;
  right: auto;
}
.slide-text-position-left-20 {
  left: 20%;
  right: auto;
}
.slide-text-position-left-25 {
  left: 25%;
  right: auto;
}
.slide-text-position-left-30 {
  left: 30%;
  right: auto;
}
.slide-text-position-left-35 {
  left: 35%;
  right: auto;
}
.slide-text-position-left-40 {
  left: 40%;
  right: auto;
}
.slide-text-position-left-45 {
  left: 45%;
  right: auto;
}
.slide-text-position-left-50 {
  left: 50%;
  right: auto;
}
.slide-text-position-left-55 {
  left: 55%;
  right: auto;
}
.slide-text-position-left-60 {
  left: 60%;
  right: auto;
}
.slide-text-position-left-65 {
  left: 65%;
  right: auto;
}
.slide-text-position-left-70 {
  left: 70%;
  right: auto;
}
.slide-text-position-left-75 {
  left: 75%;
  right: auto;
}
.slide-text-position-left-80 {
  left: 80%;
  right: auto;
}
.slide-text-position-left-85 {
  left: 85%;
  right: auto;
}
.slide-text-position-left-90 {
  left: 90%;
  right: auto;
}
.slide-text-position-left-95 {
  left: 95%;
  right: auto;
}
.slide-text-position-left-0 {
  left: 0%;
  right: auto;
}
.slide-text-position-left-5 {
  left: 5%;
  right: auto;
}
.slide-text-position-left-10 {
  left: 10%;
  right: auto;
}
.slide-text-position-left-15 {
  left: 15%;
  right: auto;
}
.slide-text-position-left-20 {
  left: 20%;
  right: auto;
}
.slide-text-position-left-25 {
  left: 25%;
  right: auto;
}
.slide-text-position-left-30 {
  left: 30%;
  right: auto;
}
.slide-text-position-left-35 {
  left: 35%;
  right: auto;
}
.slide-text-position-left-40 {
  left: 40%;
  right: auto;
}
.slide-text-position-left-45 {
  left: 45%;
  right: auto;
}
.slide-text-position-left-50 {
  left: 50%;
  right: auto;
}
.slide-text-position-left-55 {
  left: 55%;
  right: auto;
}
.slide-text-position-left-60 {
  left: 60%;
  right: auto;
}
.slide-text-position-left-65 {
  left: 65%;
  right: auto;
}
.slide-text-position-left-70 {
  left: 70%;
  right: auto;
}
.slide-text-position-left-75 {
  left: 75%;
  right: auto;
}
.slide-text-position-left-80 {
  left: 80%;
  right: auto;
}
.slide-text-position-left-85 {
  left: 85%;
  right: auto;
}
.slide-text-position-left-90 {
  left: 90%;
  right: auto;
}
.slide-text-position-left-95 {
  left: 95%;
  right: auto;
}
.slide-text-position-right-0 {
  right: 0%;
  left: auto;
}
.slide-text-position-right-5 {
  right: 5%;
  left: auto;
}
.slide-text-position-right-10 {
  right: 10%;
  left: auto;
}
.slide-text-position-right-15 {
  right: 15%;
  left: auto;
}
.slide-text-position-right-20 {
  right: 20%;
  left: auto;
}
.slide-text-position-right-25 {
  right: 25%;
  left: auto;
}
.slide-text-position-right-30 {
  right: 30%;
  left: auto;
}
.slide-text-position-right-35 {
  right: 35%;
  left: auto;
}
.slide-text-position-right-40 {
  right: 40%;
  left: auto;
}
.slide-text-position-right-45 {
  right: 45%;
  left: auto;
}
.slide-text-position-right-50 {
  right: 50%;
  left: auto;
}
.slide-text-position-right-55 {
  right: 55%;
  left: auto;
}
.slide-text-position-right-60 {
  right: 60%;
  left: auto;
}
.slide-text-position-right-65 {
  right: 65%;
  left: auto;
}
.slide-text-position-right-70 {
  right: 70%;
  left: auto;
}
.slide-text-position-right-75 {
  right: 75%;
  left: auto;
}
.slide-text-position-right-80 {
  right: 80%;
  left: auto;
}
.slide-text-position-right-85 {
  right: 85%;
  left: auto;
}
.slide-text-position-right-90 {
  right: 90%;
  left: auto;
}
.slide-text-position-right-95 {
  right: 95%;
  left: auto;
}

}

}