.badge.badge-large,
.label.badge-large,
.badge.label-large,
.label.label-large {
    padding: 4px 8px;
    font-size: 14px;
}

.badge.badge-xlarge,
.label.badge-xlarge,
.badge.label-xlarge,
.label.label-xlarge {
    padding: 8px 12px;
    font-size: 18px;
} 