.breadcrumb-wrapper {
  background: #FAFAFA;
  /*border: 1px solid #DDD;*/
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear,0% 0%,0% 100%,from(#f8f8f8),to(#fafafa));
  background: -webkit-linear-gradient(top,#f8f8f8,#fafafa);
  background: -moz-linear-gradient(top,#f8f8f8,#fafafa);
  background: -ms-linear-gradient(top,#f8f8f8,#fafafa);
  background: -o-linear-gradient(top,#f8f8f8,#fafafa);
}
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: transparent;
  border-radius: 4px;
  padding:0;
}

.breadcrumb-bar {
  margin-top: 20px;
}