
.btn-link {
  padding:0;
  vertical-align: top;
  display: inline;
}


.btn {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.428571429;
  border-radius: 2px;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.btn-block {
  display: block;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 3px;
}

.btn-sm,
.btn-xs {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 2px;
}

.btn-xs {
  padding: 1px 5px;
}