.form-wrapper {
        margin: 0 auto;
        border: 1px solid #e6e6e6;
        padding: 20px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: 1px 1px 10px rgba(27, 27, 27, 0.2);
        box-shadow: 1px 1px 10px rgba(27, 27, 27, 0.2);
    }

.form-wrapper.form-narrow {
    min-width: 200px;
    max-width: 400px;
}

.form-wrapper.form-medium {
    min-width: 300px;
    max-width: 500px;
}

.form-wrapper h2.title-divider,
.form-wrapper h3.title-divider {
    margin-top: 0;
}

.input-sm {
    height: 25px;
}

form .btn-sm {
  height: 25px;
  line-height: 1;
}

.lt-ie8 form .btn-sm {
  height: 27px;
}

.lt-ie8 .input-sm {
  height: 15px;
}