    .modal-open {
        overflow: hidden;
    }

    body.modal-open,
    .modal-open .navbar-fixed-top,
    .modal-open .navbar-fixed-bottom {
        margin-right: 15px;
    }

    .modal {
        display: none;
        overflow: auto;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040000;
    }

    .modal.fade .modal-dialog {
        -webkit-transform: translate(0, -25%);
        -ms-transform: translate(0, -25%);
        transform: translate(0, -25%);
        -webkit-transition: -webkit-transform 0.3s ease-out;
        -moz-transition: -moz-transform 0.3s ease-out;
        -o-transition: -o-transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
    }

    .modal.in .modal-dialog {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .modal-dialog {
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        z-index: 1040010;
    }

    .modal-content {
        position: relative;
        background-color: #ffffff;
        border: 1px solid #999999;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
        box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
        background-clip: padding-box;
        outline: none;
    }

    .modal-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1039990;
        background-color: #000000;
    }

    .modal-backdrop.fade {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .modal-backdrop.in {
        opacity: 0.7;
        filter: alpha(opacity=70);
    }

    .modal-header {
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
        min-height: 16.428571429px;
    }

    .modal-header .close {
        margin-top: -2px;
    }

    .modal-title {
        margin: 0;
        line-height: 1.428571429;
    }

    .modal-body {
        position: relative;
        padding: 15px;
    }

    .modal-footer {
        margin-top: 0;
        padding: 14px 15px 15px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
    }

    .modal-footer:before,
    .modal-footer:after {
        content: " ";
        /* 1 */
        display: table;
        /* 2 */
    }

    .modal-footer:after {
        clear: both;
    }

    .modal-footer .btn + .btn {
        margin-left: 5px;
        margin-bottom: 0;
    }

    .modal-footer .btn-group .btn + .btn {
        margin-left: -1px;
    }

    .modal-footer .btn-block + .btn-block {
        margin-left: 0;
    }

    

    #signup-modal .modal-dialog,
#login-modal .modal-dialog {
    max-width: 350px;
}

#signup-modal .form-group,
#login-modal .form-group {
    margin-bottom: 10px;
}

#signup-modal .modal-dialog {
    max-width: 450px;
}

.panel-primary .panel-heading a {
  color : #fff;
}