#Header {

  .btn-navbar,
  .navbar-btn {
    float: left;
    display: block;
    background: #414141;
    height: 36px;
    line-height: 36px;
    margin: 0;
    width: 40px;
    text-align: center;
    cursor: pointer;
    padding: 3px 0;
  }

  .btn-navbar .bar,
  .navbar-btn .bar {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #cccccc;
    border-radius: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-navbar .bar + .bar,
  .navbar-btn .bar + .bar {
    margin-top: 4px;
  }

  .btn-navbar.open,
  .navbar-btn.open,
  .btn-navbar:hover,
  .navbar-btn:hover {
    background: #353535;
  }

  .btn-navbar.open .bar,
  .navbar-btn.open .bar,
  .btn-navbar:hover .bar,
  .navbar-btn:hover .bar {
    background-color: #e6e6e6;
  }

  .navbar-collapse {
    max-height: none;
    clear: both;
    margin: 10px -8px 0 -8px;
    padding: 0;
  }

  .has-navbar-fixed-top .navbar-fixed-top {
    background: #ffffff;
  }

  .has-navbar-fixed-top #content {
    padding-top: 200px;
  }

}

@media (min-width: @screen-tablet) {

  #Header {

    .navbar-collapse.collapse {
      display: none !important;
    }

    .navbar-collapse.in {
      overflow-y: auto;
    }

    .has-navbar-fixed-top #content {
      padding-top: 160px;
    }
  }
}

@media (min-width: @screen-tablet) {

  #Header {

    .mobile-toggle-trigger,
    .btn-navbar,
    .navbar-btn {
      display: none;
    }

    .navbar-collapse,
    .navbar-collapse.collapse,
    .navbar-collapse.in {
      display: block !important;
      padding: 0;
      margin: 0;
      clear: none;
      overflow-y: visible;
      overflow-x: visible;
      width: auto;
    }
  }
}


body #navigation .header-hidden {
  background: transparent;
}
body #navigation .header {
  border: none;
}
#navigation .header-hidden a {
  color: @link-color;
  font-size: 12px;
}

.nav-pills {
  white-space: nowrap;
}

.nav-mf {


  @media (min-width: @screen-sm-min) {

    width: 100%;

    > li {
      display: table-cell;
      float: none; 
      width: 1%;
      > a {
        margin-bottom: 0;
        text-align: center;
      }
    }
    > .dropdown .dropdown-menu {
      top: auto;
      left: auto;
    }
  }
}

.nav-pills a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav-pills a:hover {
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  -ms-transition-duration: 0s;
}
.navbar-collapse .nav-pills li a{
  border-radius: 0;
}
.nav-justified>li>a {
  text-align: left;
}

@media (min-width: @screen-sm-min) {
  .nav-justified>li>a {
    text-align: center;
  }
}   


@media (min-width: @screen-md-min) {

  .navbar-bar {
    padding-bottom: 0;

  }

  .navbar-collapse li {
    text-align: left;
  }

}

@media (min-width: @screen-lg-min) {

  .navbar-horizontal-lg {


    .block-nav { 
      margin-top:20px;
      .make-lg-column(8);

      .navbar-collapse .nav-pills {
        margin-top: 12px;

        > li a{
          border-radius: 5px;
        }

      }


      .smccd-logo {

        box-shadow: none;

        img {
          margin: 0 !important;
        }
      }
      .logo-smccd {
        margin: 0;
      }
    }
  }
}


#Header .nav {
  z-index: 12000;
}

#Header {
  .navbar-btn {
    height: 30px;
    margin-top: 5px;
    background: transparent;
  }
}

.vertical-navbar-collapse {
  padding: 0;
}

@media (max-width: 990px) {

    .navbar-vertical .navbar-header {
        float: none;
    }
    .navbar-vertical .navbar-left,.navbar-vertical .navbar-right {
        float: none !important;
    }
    .navbar-vertical .navbar-toggle {
        display: block;
    }
    .navbar-vertical .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-vertical .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-vertical .navbar-nav {
        float: none!important;
      margin-top: 7.5px;
   }
   .navbar-vertical .navbar-nav>li {
        float: none;
    }
    .navbar-vertical .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-vertical .collapse.in{
      display:block !important;
   }
}