.header {
            z-index:20000;
          }


.header-default {
    box-shadow: inset 0 0 14px #eee;
}   

 @media (min-width: @screen-lg-min) {
    .header-inverse {
        /* box-shadow: 0 0 14px #222; */
    }
}

.header-inverse {
  
  background: red;
  

  // Base class
  // --------------------------------------------------

  .nav {

    > li {

      > a {
        color: white;
        padding: @nav-link-padding;
        &:hover,
        &:focus {
          text-decoration: none;
          color: black;
          background: #f8f8f8;
        }
      }

      // Disabled state sets text to gray and nukes hover/tab effects
      &.disabled > a {
        color: @nav-disabled-link-color;

        &:hover,
        &:focus {
          color: @nav-disabled-link-hover-color;
          text-decoration: none;
          background-color: transparent;
          cursor: not-allowed;
        }
      }
    }

    // Open dropdowns
    .open > a {
      &,
      &:hover,
      &:focus {
        background-color: @nav-link-hover-bg;
        border-color: @link-color;

        .caret {
          border-top-color: @link-hover-color;
          border-bottom-color: @link-hover-color;
        }
      }
    }

    // Nav dividers (deprecated with v3.0.1)
    //
    // This should have been removed in v3 with the dropping of `.nav-list`, but
    // we missed it. We don't currently support this anywhere, but in the interest
    // of maintaining backward compatibility in case you use it, it's deprecated.
    .nav-divider {
      .nav-divider();
    }

    // Prevent IE8 from misplacing imgs
    //
    // See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989
    > li > a > img {
      max-width: none;
    }
  }

  // Pills
  // -------------------------
  .nav-pills {
    > li {
      // Links rendered as pills
      @media (min-width: @screen-lg-min) {
        > a {
            border-radius: @nav-pills-border-radius;
        }
      }
      > a {
        
      }
      + li {
        
      }

      // Active state
      &.active > a {
        &,
        &:hover,
        &:focus {
          color: /*@nav-pills-active-link-hover-color*/black;
          background-color: /*@nav-pills-active-link-hover-bg*/white;

          .caret {
            border-top-color: @nav-pills-active-link-hover-color;
            border-bottom-color: @nav-pills-active-link-hover-color;
          }
        }
      }
    }
  }
}

          
          .navbar-brand {
            padding-left: 0;
          }
            
          .li-smcccd a i,
          .li-smcccd a span {
            color: #002f65;
          }

          .li-csm a i,
          .li-csm a span {
            color: #3a74ba;
          }
          .li-can a i,
          .li-can a span {
            color: #8d9848;            
          }
          .li-sky a i,
          .li-sky a span {
            color: #72312b;
          }

          .dropdown-menu .li-csm a:hover {
              background: #3a74ba;
              color:white;
          }

          .dropdown-menu .li-sky a:hover {
            background: #72312b;
            color:white;
          } 

          .dropdown-menu .li-can a:hover {
              background: #8d9848;  
              color:white;  
          }

          .dropdown-menu .li-smcccd a:hover {
              background: #002f65;  
              color:white;  
          }


          .li-csm a:hover i, 
          .li-can a:hover i,
          .li-sky a:hover i,
          .li-csm a:hover span,
          .li-can a:hover span,
          .li-sky a:hover span,
          .li-smcccd a:hover i,
          .li-smcccd a:hover span {
            color: white;
          }


.section-menu ul.nav-list {
        padding: 2em 0;
        margin-left: 0;
    }

    .section-menu ul.nav-list li.nav-header {
        padding-left: 5px;
        margin: 0;
        text-transform: uppercase;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        color: #999999;
        font-weight: bold;
        font-size: 11px;
    }

    .section-menu ul.nav-list li a {
        color: #494949;
        color: rgba(27, 27, 27, 0.7);
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        font-size: 18px;
        border: 1px solid #e6e6e6;
        border-top: none;
        margin: 0 -1px 0 3px;
        -webkit-box-shadow: 1px 1px 1px #ffffff;
        box-shadow: 1px 1px 1px #ffffff;
        background: #fafafa;
        text-shadow: none;
        padding: 8px 15px;
        position: relative;
    }

    .section-menu ul.nav-list li a.first {
        border-top: 1px solid #e6e6e6;
    }

    .section-menu ul.nav-list li a:hover {
        background: #f0f0f0;
    }

    .section-menu ul.nav-list li a:hover i {
        color: #5882b1;
    }

    .section-menu ul.nav-list li a i {
        font-size: 22px;
        position: absolute;
        top: 6px;
        right: 20px;
        color: #e6e6e6;
        /*-webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);*/
    }

    .section-menu ul.nav-list li a small {
        display: block;
        font-weight: normal;
        color: rgba(27, 27, 27, 0.5);
    }

    .section-menu ul.nav-list li.active > a,
    .section-menu ul.nav-list li.active > a:hover {
        border-left: 4px solid #5882b1;
        margin: 0 -1px 0 0;
        background: #ffffff;
        color: #5882b1;
        font-weight: bold;
    }

    .section-menu ul.nav-list li.active > a i,
    .section-menu ul.nav-list li.active > a:hover i {
        color: #5882b1;
        font-weight: bold;
    }
.section-menu {
        ul.nav-list {
            li.active { 
                ul.nav {
                    li {
                        a {
                            font-size: 14px;
                            margin-left: 20px;
                            border: none;
                            color: #444; 
                        }
                    }

                    > li.active a,
                    li a:hover {
                        margin-left: 19px;
                        border-left-color: #444;
                        color: #444;
                        font-weight: 600;
                    }
                }
            }
        }
    }

     @media (min-width: @screen-desktop) {


      
        .section-menu ul.nav-list {
            border-right: 1px solid #e6e6e6;
        }

        .section-menu ul.nav-list li a i {
            right: 10px;
            /*-webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);*/
        }

        .section-menu ul.nav-list li.active > a,
        .section-menu ul.nav-list li.active > a:hover {
            border-right-color: #ffffff;
        }
    }


        .sidebar {
        margin: 2em 0 1em 0;
    }

    .sidebar .block {
        margin-bottom: 2em;
    }

    .sidebar ul.big-list {
        font-size: 1em;
    }

    

    @media (min-width: @screen-desktop) {
        .sidebar {
            margin: 0;
        }

        .sidebar.sidebar-right .inner,
        .sidebar.sidebar-right .divider {
            border-left: 1px solid #e6e6e6;
            padding-left: 20px;
        }

        .sidebar.sidebar-left .inner,
        .sidebar.sidebar-left .divider {
            border-right: 1px solid #e6e6e6;
            padding-right: 20px;
        }


    }






    #LocalNavigation {
        /* margin: 0 -15px; */
    }


#navigation {
        z-index: 99999;
        position: relative;
        color: #eeeeee;
        color: rgba(255, 255, 255, 0.7);
    }

    #navigation:before,
    #navigation:after {
        content: " ";
        /* 1 */
        display: table;
        /* 2 */
    }

    #navigation:after {
        clear: both;
    }

    #navigation .header-hidden {
        background: #5882b1;
        -webkit-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
        height: 0;
        overflow: hidden;
    }

    #navigation .header-hidden.show-hide-open {
        padding: 15px 0;
    }

    #navigation .header-hidden a {
        color: #ffffff;
    }

    #navigation .header-hidden h1,
    #navigation .header-hidden h1,
    #navigation .header-hidden h3,
    #navigation .header-hidden h4,
    #navigation .header-hidden h5,
    #navigation .header-hidden h6 {
        font-weight: 600;
    }

    #navigation .header {
        padding: 15px 0 15px 0;
        background: transparent;
        border-top: 1px solid #5882b1;
        color: #1b1b1b;
        height: auto;
        text-align: center;
    }

    #navigation .header .header-inner {
        position: relative;
    }

    #navigation .header .social-media {
        margin: 16px 0 0 0;
    }

    #navigation .navbar {
        color: #eeeeee;
        color: rgba(255, 255, 255, 0.7);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 0;
        border-bottom: 3px solid #5882b1;
        background-image: -webkit-gradient(linear, left 0%, left 100%, from(#202020), to(#1b1b1b));
        background-image: -webkit-linear-gradient(top, #202020, 0%, #1b1b1b, 100%);
        background-image: -moz-linear-gradient(top, #202020 0%, #1b1b1b 100%);
        background-image: linear-gradient(to bottom, #202020 0%, #1b1b1b 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff202020', endColorstr='#ff1b1b1b', GradientType=0);
        /*background-image: url(../img/bg_noise-2.png);*/
        background-position: left top;
        background-repeat: repeat;
        -webkit-box-shadow: 1px 1px 10px rgba(27, 27, 27, 0.6);
        box-shadow: 1px 1px 10px rgba(27, 27, 27, 0.6);
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        filter: none;
        margin: 0;
        padding: 0 8px;
        background-color: #1b1b1b;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    #navigation .navbar-brand {
        font-weight: 400;
        font-family: "Rambla", Arial, serif;
        padding: 0;
        margin: 6px 0 0 0;
        display: block;
        border: none;
        text-shadow: none;
        line-height: 1;
        color: #5882b1;
        max-width: none;
        text-align: center;
        float: none;
    }

    #navigation .navbar-brand h1 {
        font-size: 40px;
        font-weight: 400;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-family: "Rambla", Arial, serif;
    }

    #navigation .navbar-brand h1 span {
        color: #464646;
        color: rgba(27, 27, 27, 0.8);
        font-weight: 700;
    }

    #navigation .navbar-brand:hover {
        text-decoration: none;
        cursor: pointer;
    }

    #navigation .slogan {
        color: #888;
        font-size: 14px;
    }

    #navigation .user-menu {
        padding: 0;
    }

    #navigation .user-menu a.btn {
        text-transform: uppercase;
        font-size: 12px;
        padding: 0 1.5em;
        height: 36px;
        line-height: 36px;
        margin: 9px 0;
    }

    #navigation .js-clingify-placeholder {
        height: auto !important;
    }

    #navigation .js-clingify-locked {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border: 0;
        border-bottom: 3px solid #5882b1;
        background-image: -webkit-gradient(linear, left 0%, left 100%, from(#202020), to(#1b1b1b));
        background-image: -webkit-linear-gradient(top, #202020, 0%, #1b1b1b, 100%);
        background-image: -moz-linear-gradient(top, #202020 0%, #1b1b1b 100%);
        background-image: linear-gradient(to bottom, #202020 0%, #1b1b1b 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff202020', endColorstr='#ff1b1b1b', GradientType=0);
        /*background-image: url(../img/bg_noise-2.png);*/
        background-position: left top;
        background-repeat: repeat;
        background-color: #1b1b1b;
        -webkit-box-shadow: 1px 1px 10px rgba(27, 27, 27, 0.6);
        box-shadow: 1px 1px 10px rgba(27, 27, 27, 0.6);
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        filter: none;
    }

    #navigation .js-clingify-locked .navbar {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border: none;
        background: none;
        background-image: none;
        background-color: transparent;
        filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    @media (min-width: @screen-tablet) {
        #navigation .header {
            height: 86px;
        }

        #navigation .navbar-brand,
        #navigation .slogan {
            float: left;
        }

        #navigation .slogan {
            margin: 8px 0 0 1em;
            padding: 12px 0 8px 1em;
            border-left: 1px solid #e6e6e6;
            float: left;
        }

        #navigation .navbar {
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

        #navigation .user-menu {
            padding: 0;
        }

        #navigation .social-media {
            float: right;
        }
    }

    ul.nav li ul.nav li a {
      font-size: 14px;
      margin-left: 20px;
      border: none;
      color: #444;
   }
   .section-menu ul.nav-list li.active ul.nav li.active > a, 
   .section-menu ul.nav-list li.active ul.nav li.active > a:hover {
      margin-left: 19px;
      border-left-color: #444;
      color: #444;
      font-weight: 600;
   }