.tabbable.row {
        margin-left: 0;
        margin-right: 0;
    }

    ul.nav-tabs {
        margin-bottom: 1em;
        border-bottom: none;
    }

    ul.nav-tabs li {
        float: none;
    }

    ul.nav-tabs li a {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border: 1px solid #e6e6e6;
    }

    ul.nav-tabs li:last-child {
        margin-bottom: 0;
        border-bottom: none;
    }

    ul.nav-tabs li.active a,
    ul.nav-tabs li.active a:hover {
        color: #5882b1;
        border-top: 4px solid #5882b1;
        border-bottom: 1px solid #e6e6e6;
    }

    .vertical-tabs ul.nav-stacked {
        margin-right: 0;
        border-bottom: 0;
        border-right: 1px solid #e6e6e6;
    }

    .vertical-tabs ul.nav-stacked li {
        margin-right: -18px;
    }

    .vertical-tabs ul.nav-stacked li a {
        color: rgba(27, 27, 27, 0.8);
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border-left: 4px solid #e6e6e6;
        position: relative;
    }

    .vertical-tabs ul.nav-stacked li a i {
        font-size: 22px;
        position: absolute;
        top: 50%;
        right: 20px;
        margin-top: -10px;
        color: #e6e6e6;
    }

    .vertical-tabs ul.nav-stacked li a small {
        display: block;
        font-weight: normal;
    }

    .vertical-tabs ul.nav-stacked li a:hover i {
        color: #5882b1;
    }

    .vertical-tabs ul.nav-stacked li.active a,
    .vertical-tabs ul.nav-stacked li.active a:hover {
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        border-left: 4px solid #5882b1;
    }

    .vertical-tabs ul.nav-stacked li.active a i,
    .vertical-tabs ul.nav-stacked li.active a:hover i {
        color: #5882b1;
    }

    .vertical-tabs .tab-content {
        margin-left: -15px;
        margin-right: -15px;
    }

    .bold-tabs ul li a {
        font-weight: bold;
        font-size: 18px;
    }

    .bold-tabs ul li a i {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .bold-tabs ul li a small {
        display: block;
        font-weight: normal;
    }

    .bold-tabs ul li a:hover i {
        color: #5882b1;
    }

    @media (min-width: @screen-tablet) {
        .tabbable > ul.nav-tabs,
        ul.nav-tabs {
            border-bottom: 1px solid #e6e6e6;
        }

        .tabbable > ul.nav-tabs li,
        ul.nav-tabs li {
            float: left;
        }

        .tabbable > ul.nav-tabs li a,
        ul.nav-tabs li a {
            border: none;
            border-top: 4px solid transparent;
        }

        .tabbable > ul.nav-tabs li a:last-child,
        ul.nav-tabs li a:last-child {
            margin-bottom: -1px;
            border-bottom: none;
        }

        .tabbable > ul.nav-tabs li.active a,
        ul.nav-tabs li.active a,
        .tabbable > ul.nav-tabs li.active a:hover,
        ul.nav-tabs li.active a:hover {
            border-top: 4px solid #5882b1;
            border-right: 1px solid #e6e6e6;
            border-left: 1px solid #e6e6e6;
            border-bottom-color: transparent;
        }

        .vertical-tabs ul.nav-tabs {
            display: block;
            border-bottom: none;
        }

        .vertical-tabs ul.nav-tabs li {
            float: none;
        }

        .vertical-tabs ul.nav-tabs li a {
            border-right: none;
        }

        .vertical-tabs ul.nav-tabs li a i {
            -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
            transform: rotate(0);
        }

        .vertical-tabs ul.nav-tabs li.active a,
        .vertical-tabs ul.nav-tabs li.active a:hover {
            border-left: 4px solid #5882b1;
            border-top: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6;
            border-right: none;
        }

        .vertical-tabs .tab-content {
            margin-right: auto;
            margin-left: auto;
        }
    }