p.lead, div.lead {
    font-weight: 300;

    a {
      font-weight: bold;
    }
}

blockquote {
  border: none;
  padding: 0;

  p {
    background: #e6e6e6;
    padding: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
  }

  p:after, p:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  p:after {
    border-top-color: #e6e6e6;
    border-width: 10px;
    left: 10%;
    margin-left: -10px;
  }

  p:before {
    border-top-color: rgba(0, 0, 0, 0.01);
    border-width: 11px;
    left: 10%;
    margin-left: -11px;
  }

  small {
    display: block;
    padding: 12px 0 0 10px;

    img {
      padding-right: 1em;
    }
  }

  small:before {
    content: '';
  }
  
}
.theme-inverse {

  color: #bebebe;

  ul, li, h3{
    color: #bebebe;
  }
  a {
   color: rgb(214, 214, 214); 
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
 }
}


ol {


  
  > li {
    margin-bottom: 10px;
  }
}

strong {
  font-weight: 600;
}

.input-group-btn {
  z-index: 9999;
}

span.gc-cs-link {
  text-decoration: none;
}

.theme-default span.gc-cs-link {
  color: white;
}