.block .title {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 0 0.5em 0;
    line-height: 1;
}

.block-item .title {
    margin-top: 10px
}

.block-item .thumbnails li {
    *zoom: 1
}

.block-item .thumbnails li:before,
.block-item .thumbnails li:after {
    display: table;
    content: "";
    line-height: 0
}

.block-item .thumbnails li:after {
    clear: both
}

.block-item-default .thumbnails li img {
    background-color: #f4f4f4;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#fafafa), to(#ebebeb));
    background-image: -webkit-linear-gradient(top, #fafafa 0, #ebebeb 100%);
    background-image: -moz-linear-gradient(top, #fafafa 0, #ebebeb 100%);
    background-image: linear-gradient(to bottom, #fafafa 0, #ebebeb 100%);
    background-repeat: repeat-x;
    filter: ~"progid: DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffebebeb', GradientType=0)";
    border: 1px solid #e6e6e6;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px
}

.block-item-default .thumbnails li img:hover {
    background-color: #ededed;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#f5f5f5), to(#e0e0e0));
    background-image: -webkit-linear-gradient(top, #f5f5f5 0, #e0e0e0 100%);
    background-image: -moz-linear-gradient(top, #f5f5f5 0, #e0e0e0 100%);
    background-image: linear-gradient(to bottom, #f5f5f5 0, #e0e0e0 100%);
    background-repeat: repeat-x;
    filter: ~"progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe0e0e0', GradientType=0)"
}

.block-item .thumbnails li i {
    float: right;
    margin: .5em
}

.block-item .thumbnails li img {
    max-width: 100%
}

.block-item-centered .thumbnails li a {
    display: block;
}

.block-item-centered .thumbnails {
    text-align: center;
}

.animation-fade {
    opacity: 1;
    transform: translateZ(0);
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    -webkit-backface-visibility: hidden;
}

.animation-fade:hover {
    opacity: 0.6;
}

@media (min-width: @screen-lg-min) {
    .block-item-centered .thumbnails li {
        margin-bottom: 20px;
    }
}
