.blog-roll .title,
.blog-post .title {
    margin: 0 0 5px 0;
    line-height: 1;
}

.blog-roll .meta,
.blog-post .meta {
    font-size: 12px;
    margin-bottom: 5px;
}

.blog-roll .media,
.blog-post .media {
    padding-bottom: 15px;
    border-bottom: 1px solid #e6e6e6;
}

.blog-roll .media-object,
.blog-post .media-object {
    max-width: 100%;
    margin: 0.5em 0;
}

.blog-roll .pagination,
.blog-post .pagination {
    display: block;
}

.blog-post .media-body .lead {
    margin: 1em 0;
    padding: 1em 0.5em;
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #b3b3b3;
    background: #f0f0f0;
}

.blog-post .comments .media-object {
    max-width: 40px;
    margin-top: 0;
}

.blog-post .comments .media-body {
    margin-top: 0;
}

.blog-post .comments .media-body .meta {
    margin: 0 0 5px 0;
    display: block;
}

.blog-post .comments .comment-form {
    margin-top: 2em;
}

@media (min-width: @screen-desktop) {
    .blog-roll.blog-list,
    .blog-post.blog-list {
        padding-left: 15px;
        padding-right: 15px;
    }
    .blog-roll.blog-list .media-object,
    .blog-post.blog-list .media-object {
        float: right;
        max-width: 200px;
        margin: 0 0 0 1em;
    }
    .blog-roll.blog-list .media-object.media-object-full,
    .blog-post.blog-list .media-object.media-object-full {
        max-width: 100%;
        margin: 0.5em 0;
        float: none;
    }
    .blog-roll .comments .media-object,
    .blog-post .comments .media-object {
        max-width: 80px;
    }
    .blog-roll .meta,
    .blog-post .meta {
        display: none;
    }
}


/* --------------------------------------------------
 * Blog pages
 *-------------------------------------------------- */

.date-md {
    padding-right: 0;
    text-align: center;
    display: none;
}

.date-wrapper {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#ebebeb));
    background-image: -webkit-linear-gradient(top, #ffffff, 0%, #ebebeb, 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #ebebeb 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #ebebeb 100%);
    background-repeat: repeat-x;
    filter: ~"progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffebebeb', GradientType=0)";
    border: 1px solid #c2c2c2;
    color: #1b1b1b;
    text-align: center;
    margin: 0 0 1em 0;
    padding: 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
}

.date-wrapper span {
    font-size: 16px;
    display: block;
}

.date-wrapper span.date-m {
    padding: 2px 4px;
    color: #ffffff;
    background: @brand-primary;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
}

.date-wrapper span.date-d {
    font-size: 22px;
    line-height: 1;
    padding: 5px 0 3px 0;
    color: #1b1b1b;
}

@media (min-width: @screen-desktop) {
    .date-md {
        display: block;
    }
}
