/* --------------------------------------------------
 * Customers
 *-------------------------------------------------- */
 .page-customers .tabbable > ul.nav-tabs li a,
 .page-customers ul.nav-tabs li a {
    padding: 10px 30px;
}

.customers {
    margin-top: 2em;
}

.customers li.customer {
    margin: 0;
    margin-bottom: 1em;
    height: auto;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.customers li.customer a .inner-wrapper {
    padding: 15px;
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: block;
    position: relative;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#ebebeb));
    background-image: -webkit-linear-gradient(top, #ffffff, 0%, #ebebeb, 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #ebebeb 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #ebebeb 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffebebeb', GradientType=0);
}

.customers li.customer a span {
    display: block;
}

.customers li.customer a .img-wrapper {
    text-align: center;
    height: 100px;
    display: block;
}

.customers li.customer a .img-wrapper img {
    max-height: 80px;
    max-width: 100%;
    margin: 1em auto;
}

.customers li.customer a .title {
    text-transform: none;
    font-weight: bold;
}

.customers li.customer a .description {
    color: rgba(27, 27, 27, 0.8);
}

.customers li.customer a:hover {
    text-decoration: none;
}

.customers li.customer a:hover .inner-wrapper {
    border-color: #a6a6a6;
}

@media (min-width: @screen-tablet) {
    .customers li.customer {
        height: 320px;
        width: 250px;
    }
}

@media (min-width: @screen-desktop) {
    .customers li.customer {
        height: 290px;
        width: 322px;
    }
}

@media (min-width: @screen-lg-desktop) {
    .customers li.customer {
        height: 260px;
        width: 390px;
    }
}

.customers li a .inner-wrapper {
  height: 240px;
  padding: 1em;
  border: 1px solid #d9d9d9;
  .border-top-radius(2px);
  display: block;
  position: relative;
  background-color: #f7f7f7;
  #gradient > .vertical(#ffffff, #ebebeb);
}
.customers li {
  margin-bottom: 2em;
}
.customers li a span {
  display: block;
}
.customers li a .img-wrapper {
  text-align: center;
  height: 100px;
  display: block;
  margin-bottom: .5em;
}
.customers li a .img-wrapper img {
  max-height: 80px;
  margin: 1em auto;
}
.customers li a .title {
  text-transform: none;
  font-weight: bold;
}
.customers li a .description {
  color: @link-color;
  font-size: 90%;
}
.customers li a:hover {
  text-decoration: none;
}
.customers li a:hover .inner-wrapper {
  border-color: #a6a6a6;
}