.pricing-stack .well {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #cdcdcd;
    padding: 10px;
    background: #ffffff;
    -webkit-box-shadow: 1px 1px 5px #cdcdcd;
    box-shadow: 1px 1px 5px #cdcdcd;
}

.pricing-stack .well .title {
    margin: 10px 0 0 0;
    color: rgba(27, 27, 27, 0.8);
    font-size: 22px;
    text-shadow: 1px 1px 1px rgba(231, 231, 231, 0.8);
    text-align: center;
    font-weight: normal;
    text-transform: none;
}

.pricing-stack .well .price {
    margin: 1em -14px;
    padding: 20px 0;
    text-shadow: none;
    color: #5882b1;
    display: block;
    border: 1px solid #cdcdcd;
    background: #ffffff;
    text-align: center;
    font-size: 16px;
}

.pricing-stack .well .price .fancy {
    font-size: 28px;
}

.pricing-stack .well .price .digits {
    font-size: 32px;
    font-weight: bold;
}

.pricing-stack .well ul.points li {
    border-bottom: 1px dotted rgba(180, 180, 180, 0.8);
    padding: 0.2em;
}

.pricing-stack .well .btn {
    display: block;
    width: auto;
    margin: 20px auto 0 auto;
}

.pricing-stack .well.active {
    border-color: #5882b1;
    border-width: 1px;
    -webkit-box-shadow: 1px 2px 5px #cdcdcd;
    box-shadow: 1px 2px 5px #cdcdcd;
}

.pricing-stack .well.active .title {
    font-size: 28px;
    text-transform: uppercase;
}

.pricing-stack .well.active .price {
    background: #5882b1;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#5882b1), to(#5882b1));
    background-image: -webkit-linear-gradient(top, #5882b1, 0%, #5882b1, 100%);
    background-image: -moz-linear-gradient(top, #5882b1 0%, #5882b1 100%);
    background-image: linear-gradient(to bottom, #5882b1 0%, #5882b1 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5882b1', endColorstr='#ff5882b1', GradientType=0);
    border-color: #5882b1;
    color: #ffffff;
}

.pricing-stack .well.active .btn {
    margin-top: 40px;
}

@media (min-width: @screen-tablet) {
    .pricing-stack .well {
        min-height: 380px;
    }

    .pricing-stack .well.active .btn {
        margin-top: 20px;
    }
}

@media (min-width: @screen-desktop) {
    .pricing-stack .well {
        min-height: 10px;
    }
}

.pricing-stack .well.active .btn {
  margin-top: 10px !important;
}