ul.search-tools {
    margin-right: 4px;
    margin-bottom: 0;
    li {
        display: inline-block;
        height: 25px;
        margin-right: 5px;
        text-align: center;
        padding: 1px;
        line-height: 24px;
        i {
            color: #ccc;
            -webkit-transition: color .15s ease-in-out;
            -moz-transition: color .15s ease-in-out;
            -o-transition: color .15s ease-in-out;
            -ms-transition: color .15s ease-in-out;
            transition: color .15s ease-in-out;
        }
        span {
            color: #ccc;
            -webkit-transition: color .15s ease-in-out;
            -moz-transition: color .15s ease-in-out;
            -o-transition: color .15s ease-in-out;
            -ms-transition: color .15s ease-in-out;
            transition: color .15s ease-in-out;
        }
        a {
            text-decoration: none;
            i {
                padding: 2px;
                border-radius: 50%;
                font-size: 1.7em;
                display: block;
                height: 24px;
                width: 24px;
                text-align: center;
                background-color: #25292c;
                color: #A9A9A9;
            }
            span {
                padding: 2px;
                border-radius: 50%;
                font-size: 1.7em;
                display: block;
                height: 24px;
                width: 24px;
                text-align: center;
                background-color: #25292c;
                color: #A9A9A9;
            }
        }
        a:hover {
            span {
                color: #FFF;
            }
            i {
                color: #FFF;
            }
        }
    }
}
