#content {
    padding: 30px 0;
}

#content-below {
    padding: 15px 0;
    border-top: 1px solid #cdcdcd;
    background: #e6e6e6;
}

section.section-default {
    margin-bottom: 30px;
}

.section-subpanel h4 {
    margin-top: 0;
}

.section-1 {
  background-size: cover;
  background-position: 0px 30%, center;
  background-attachment: fixed;
  /* -webkit-filter: blur(3px) brightness(0.5); */
  width: 100%;
   height: auto;
  position: relative;
  background-color: black;

}
.section-1-caption {
  position: relative;
  margin: 50px 0;
}

@media (min-width: @screen-tablet) {
  .section-1-caption {
    position: relative;
    margin-top: 140px;
  }
}

    .section-1 {
      position:relative;
      overflow: hidden;
    }
    .section-1-caption {
      position:absolute;
      width: 100%;
      text-align: center;
      letter-spacing: 2px;
    }
    .section-1-caption h1 {
      font-size: 42px;
      color: white;
      font-weight: 800;
      font-family: "Roboto Slab";
    }
    .section-1-caption h2 {
      font-size: 35px;
      color: white;

      margin-bottom: 25px;
      margin-top: 10px;
    }
    .section-1-caption h2 span {
      font-weight: 400;
      font-family:"Raleway", Arial, Helvetica, sans-serif;
    }
    
    

    @media (min-width: @screen-tablet  ) { 
      .section-1-caption {
      bottom:10%;
      }
    }

  .section-1-caption {
  position: relative;
  margin: 50px 0;
}
 
@media (min-width: @screen-tablet) {
  .section-1-caption {
    position: relative;
    margin-top: 140px;
  }

}

.lead-section {
    background: white;
    padding: 50px 0;
}