.social-media {

    a {
        text-decoration: none;
        color: #eeeeee;
        color: rgba(255, 255, 255, 0.8);
        display: inline-block;
        line-height: 36px;
        width: 36px;
        height: 36px;
        background: #464646;
        background: rgba(27, 27, 27, 0.8);
        -webkit-border-radius: 200px;
        -moz-border-radius: 200px;
        border-radius: 200px;

        i {
            font-size: 20px;
            color: #ffffff;
            padding: 0;
            line-height: 36px;
            width: 36px;
            height: 36px;
            text-align: center;
            margin-right: 0.2em;
            display: inline-block;
        }
    }

    a:hover {
        text-decoration: none;
        background: #5882b1;
    }

    a.last {
        padding-bottom: 0;
        border-bottom: 0;
    }
}