/* --------------------------------------------------
 * About pages
 *-------------------------------------------------- */
 .stats .stat {
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
}

.stats .stat .well {
    background: #5882b1;
    background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#5882b1), to(#44857b));
    background-image: -webkit-radial-gradient(circle, #5882b1, #44857b);
    background-image: -moz-radial-gradient(circle, #5882b1, #44857b);
    background-image: radial-gradient(circle, #5882b1, #44857b);
    background-repeat: no-repeat;
    padding: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position: relative;
    margin: 0 15px;
    min-height: 40px;
    line-height: 40px;
}

.stats .stat .well:after,
.stats .stat .well:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.stats .stat .well:after {
    border-top-color: #5882b1;
    border-width: 5px;
    left: 50%;
    margin-left: -5px;
}

.stats .stat .well:before {
    border-top-color: rgba(0, 0, 0, 0.01);
    border-width: 6px;
    left: 50%;
    margin-left: -6px;
}

.stats .stat small {
    text-shadow: none;
    font-size: 12px;
    display: block;
    color: #494949;
    color: rgba(27, 27, 27, 0.8);
    margin: 10px 0 0 0;
    text-transform: uppercase;
}