.tags {
    font-size: 12px;
    text-transform: uppercase;
}

.tags .tag {
    color: #5882b1;
}

.tags .type {
    color: #1b1b1b;
}

.tag-cloud span {
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    background: #e6e6e6;
    display: inline-block;
    padding: 4px 8px;
    margin: 2px 0;
    font-size: 12px;
    text-transform: uppercase;
}