.well.color-primary {
  background-color: #5882b1;
  color: #ffffff;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 20px;
  min-height: 100px;
}
.well.color-primary img.well-thumb {
  padding: 1px;
  background-color: #FFF;
  border: 1px solid #DDD;
  border-radius: 4px;
  transition: all 0.2s ease-in-out 0s;
  margin-right: 20px;
  display: inline;
  position: relative;
  bottom: 5px;
}
.well.color-primary h4 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.well.color-primary h4 a, .well.color-primary p a {
  color:#ffffff;
  text-decoration: none;
}
.well.color-primary p a:hover, .well.color-primary p active,
.well.color-primary h4 a:hover, .well.color-primary h4 active  {
  color:#ffffff;
  text-decoration: underline;
}