@import "variables.less";

/**
 * Extend Plugin Styles
 */
a.anchor{top: -50px;} //Compensate for clingify header

ol.faqs {

    counter-reset: custom-counter;
    list-style-type: none;
    position: relative;
    padding-left: @faqs-ol-padding-left;
    margin-bottom: @faqs-ol-margin-bottom;

    > li:before {
        content: counter(custom-counter) + ".";
        counter-increment: custom-counter;
        position: absolute;
        margin-left: -@faqs-ol-padding-left;
        margin-top: @faqs-li-before-margin-top;
        font-size: 18px;
        font-weight: @faqs-font-weight;
    }

    li {

        h4 {
            margin-top: @faqs-title-margin-top;
            font-weight: @faqs-font-weight;
        }

        p {
            padding-left: @faqs-p-padding-left;
            border-left: @faqs-p-border-left;
            padding-bottom: @faqs-p-padding-bottom;
            margin-bottom: 0;
        }
        > ul {
            border-left: @faqs-child-ul-border-left;
        }   
    }

    .single-post img {
        &:extend(.img-responsive all);
    }
}


a.anchor{display: block; position: relative; visibility: hidden;}


  ol.faqs-keep-counter-start {
    counter-reset: custom-counter;  
  }
  ol.faqs-keep-counter {
    list-style-type: none;
    position: relative;
    padding-left: 25px;
    margin-bottom: 50px;
}
ol.faqs-keep-counter>li:before {
    counter-increment: custom-counter;
    content: counter(custom-counter) ".  ";
    position: absolute;
    margin-left: -25px;
    margin-top: -3px;
    font-size: 18px;
    font-weight: 800;
}
ol.faqs-keep-counter li h4 {
    margin-top: 25px;
    font-weight: 800;
}
ol.faqs-keep-counter li p {
    padding-bottom: 10px;
    margin-bottom: 0;
}