/**
 * Local variables for FAQs less plugin
 */

@faqs-font-weight: 800;

@faqs-ol-padding-left: 25px;
@faqs-ol-margin-bottom: 50px;

@faqs-li-before-margin-top : -3px;

@faqs-title-margin-top: 25px;

@faqs-p-padding-bottom: 10px;
@faqs-p-padding-left: 20px;
@faqs-p-border-left: 5px solid #eee;

@faqs-child-ul-border-left: 5px solid #eee;