.incidents {
		margin-top: 40px;
	.incident{
		margin: 40px 0;
		.date{
			padding-bottom: 10px;
	    	border-bottom: 1px solid #ddd;
	    	font-size: 1.5em;
	    	color: #999;
		}
		.title{
			margin-top: 10px;
		}
		.category{
			font-size: 0.9em;
			color: #999;
		}
		.time{
			color: #999;
		}
	}
}

.impacted{
	.title{
		font-weight: bold;
		color: #666;
	}
	.impacted-services{
		display: inline-block;
	}
	.fa{
		width: auto; 
		padding: 10px; 
		text-align: left;
	}
}

.screen-reader-text{
	font-size: 1.2em;
}