.info-block {
    position: relative;
    padding: 0 0 1px 0;
    border: 0;
    color: #fff;
    margin-bottom: 0;
}

.block-default {
    background-color: #ecf0f1;
    color: black;
}

.info-block .icon {
    position: absolute;
    top: -13px;
    left: 5px;
}

.info-block>div:last-child, .info-block>img:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.info-block .caption {
    color: inherit;
    padding: 20px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.block-default .caption {
    padding: 9px;
    color: #333;
}

.info-block .caption h3 {
    margin-top: 0;
}

.info-block .caption .buttons {
    margin-bottom: 0;
    text-align: right;
}

.info-block>div:first-child, .info-block>img:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

info-block .icon .icon-stack {
    font-size: 30px;
}

.info-block {
    margin-bottom: 30px;
}

.info-block.with-icon {
    margin-top: 35px;
}

.info-block.with-icon.top-item {
    margin-top: -21px;
}

.block-default {
    border-radius: 5px;
}

.block-default>img {
    display: block;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin-right: auto;
    margin-left: auto;
    &:extend(.img-responsive);
}

.info-block>div:last-child, .info-block>img:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.info-block .caption {
    color: inherit;
    padding: 50px 60px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.block .title {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 0 0.5em 0;
    line-height: 1;
}