    .feed-items-widget {

        .feed-item {

            height: auto;

            .list-feed-item {

                &:extend(.list-unstyled all);
                padding: 15px;
                margin: 0;
                list-style: none;

                > li {
                    margin-bottom: 10px;
                }



                .feed-item-title {
                    padding: 0;
                    margin: 0;
                    font-size: 16px;
                    display:block;
                }
            }


        }    
    }



    .feed-items-widget {

        h3 {
            text-align: center;
            padding: 20px 0;
            padding-bottom: 20px;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;

            font-weight: 400;

            a {
                font-weight: normal;
            }
        }

        .info-block {
            .caption {
                padding: 0;    

                .buttons {
                    margin-right: 10px;
                    margin-bottom: 10px;
                }
            }
            .fa .fa-stack {
                font-size: 25px;
            }

        }

        .feed-item-title {
            padding: 0;
            margin: 0;
            font-size: 16px;
            display:block;
            font-weight: 600;
        }



        ul {
            &:extend(.list-unstyled all);
            padding: 15px;
            padding-top: 0;
            margin: 0;
            list-style: none;

            > li {
                margin-bottom: 10px;
            }




        }

 

        .feed-type-announcements {

            .fa-custom:before {
                content: @fa-var-bullhorn;
            }

            &:extend(.first-color all);

            h3 {
                background: #3D6088;

            }

            .fa-circle {
                color: #002f65;
            }

            .info-block {

                background: #5882b1;
                color: white;

                a {
                    color: white;
                }    
            }

        }

        .feed-type-tutorials {


            .fa-custom:before {
                content: @fa-var-list-ul;
            }

            h3 {
                background: darken(#72312b, 5%);
            }

            &:extend(.second-color all);

            .fa-circle {
                color: #5f2924;
            }

            .info-block {

                background: #72312b;
                color: white;

                a {
                    color: white;
                }    
            }

        }

        .feed-type-faqs {

            .fa-custom:before {
                content: @fa-var-question;
            }

            &:extend(.third-color all);

            h3 {
                background: darken(#8d9848, 5%);
            }

            .fa-circle {
                color: #8d9848;
            }

            .info-block {

                background: #8d9848;
                color: white;

                a {
                    color: white;
                }    
            }


        }


    }
    .feed-items-widget .info-block .content-block {
        padding: 10px 20px;
        padding-top: 0px;

    }

    .feed-items-widget .info-block .content-block.first-item {
        padding-top: 10px;
    }
    .feed-items-widget .info-block .content-block.last-item {
        margin-bottom: 10px;
    }
    .feed-items {
        margin-top: 35px;
    }

.info-block {

    position: relative;

    .fa-stack-base {
        position: absolute;
        top: -26px;
        left: 5px;
    }
}



.feed-item-excerpt {
  margin: 25px 0 !important;
  display: block;
  margin-bottom: 30px  !important;
}

.feed-items {
    .make-row();


    .feed-item {
        .make-md-column(3; @gutter: @grid-gutter-width);
        position:relative;
        height: 190px;
        margin-bottom: 20px;
        .clearfix();

        .feed-item-container {
            background: #f6f6f6;
            height: 100%;
            .border-top-radius(5px);
            .border-bottom-radius(5px);
            .border-left-radius(5px);
            .border-right-radius(5px);
        }

        .feed-type-announcements {



            .feed-item-title a {
                color: #5882b1;
            }

            .feed-item-title a:hover {
                color: #5882b1; 
                border-bottom-color: #5882b1;
            }

            .feed-item-type {
                border-bottom-color: #5882b1;


            }

            .text-muted {

            }

        }

        .feed-type-tutorials {

            .feed-item-title, .feed-item-type {
                a {
                    color: #72312b; 
                }
                a:hover {
                    color: #72312b; 
                    border-bottom-color: #72312b;
                }
            }

            .feed-item-type {
                border-bottom-color: #72312b;



            }

            .text-muted {
            }
        }
        .feed-type-faqs {


            .feed-item-title, .feed-item-type {
                a {
                    color: #8d9848;
                }
                a:hover {
                    color: #8d9848; 
                }
            }


            .feed-item-type {
                border-bottom-color: #8d9848;
            }

            .text-muted {
            }
        }
        .feed-item-type {
            border-bottom: 2px solid #ddd;
            margin-bottom: 10px;
            padding: 5px 15px;
            display:block;

            a {
                font-size:140%;
                font-weight:600;
                
            }
        }

        .feed-item-title {
            padding: 0px 15px;
            font-weight: 600;
            font-size: 180%;
            a {
                color: black;
            }
        }

        .meta {
            padding: 0px 15px;
            position:absolute;
            bottom: 15px;
            margin-bottom:0;

            a {
                font-weight:600;
            }
        }
    }

}