@import "blocks.less";
@import "callouts.less";
@import "feed.less";
.widget-default {
    background: #EEEEEE;
    color: @text-color;
    .widget-header {
        background: darken(#f8f8f8, 5%);
    }
    .widget-header.header-theme-alt {
        background: #555;
        color: white;
    }
    .widget-prefix {
        .icon-stack {
            color: black;
        }
        .icon-stack-base {
            color: darken(#f8f8f8, 15%);
        }
    }
}

.widget-primary {
    background: @brand-primary;
    color: @btn-primary-color;
    a:not(.btn) {
        color: @btn-primary-color;
        a:hover {
            color: @navbar-inverse-link-hover-color;
        }
    }
    .widget-header {
        background: darken(@brand-primary, 5%);
    }
    .widget-prefix {
        .icon-stack {
            color: white;
        }
        .icon-stack-base {
            color: @navbar-main-bg;
        }
    }
}

.widget-alt-1 {
    background: #72312b;
    color: @btn-primary-color;
    a:not(.btn) {
        color: white;
        a:hover {
            color: @navbar-inverse-link-hover-color;
        }
    }
    .widget-header {
        background: darken(#72312b, 5%);
    }
    .widget-prefix {
        .icon-stack {
            color: white;
        }
        .icon-stack-base {
            color: darken(#72312b, 10%);
        }
    }
}

.widget-alt-2 {
    background: #8d9848;
    color: @btn-primary-color;
    a:not(.btn) {
        color: @btn-primary-color;
        a:hover {
            color: @navbar-inverse-link-hover-color;
        }
    }
    .widget-header {
        background: darken(#8d9848, 5%);
    }
    .widget-prefix {
        .icon-stack {
            color: white;
        }
        .icon-stack-base {
            color: #8d9848;
        }
    }
}

.bump-down {
    margin-top: 35px;
}

.with-prefix.fix-prefix {
    margin-top: 30px;
}

.bump-down .widget {
    margin-top: 10px;
}

.widget-smcccd {
    background: #002F65;
    color: @btn-primary-color;
    a:not(.btn) {
        color: @btn-primary-color;
        a:hover {
            color: @navbar-inverse-link-hover-color;
        }
    }
    .widget-header {
        background: darken(#002F65, 5%);
    }
    .widget-prefix {
        .icon-stack {
            color: white;
        }
        .icon-stack-base {
            color: #002F65;
        }
    }
}

.widget-info {
    background: #AEB19A;
    color: @btn-primary-color;
    a:not(.btn) {
        color: @btn-primary-color;
        a:hover {
            color: @navbar-inverse-link-hover-color;
        }
    }
    .widget-header {
        background: darken(#AEB19A, 5%);
    }
    .widget-prefix {
        .icon-stack {
            color: white;
        }
        .icon-stack-base {
            color: #AEB19A;
        }
    }
}

.widget.with-prefix {
    /*margin-top: 25px;*/
}

.widget {
    position: relative;
    border-radius: 5px;
    margin-bottom: 10px;
    .widget-prefix {
        .icon-stack {
            position: absolute;
            top: -23px;
            left: 5px;
            font-size: 25px;
        }
    }
    .widget-prefix-lg {
        .icon-stack {
            top: -28px;
            left: 5px;
            font-size: 30px;
        }
    }
    .widget-header {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        h3 {
            text-align: center;
            padding: 20px 0;
            padding-bottom: 20px;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            margin: 0;
            font-weight: 400;
            a {
                font-weight: normal;
            }
        }
    }
    .widget-image img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .widget-content {
        padding: 20px;
        h3 {
            margin-top: 0;
        }
        :last-child {
            margin-bottom: 0;
        }
        .buttons {
            text-align: right;
            margin-right: 10px;
            margin-top: 10px;
        }
        .buttons.text-left {
            text-align: left;
        }
    }
}

.caption h3 {
    color: #002f65;
}

.with-thumb .caption {
    padding: 20px;
}

.with-thumb img {
    width: 100%;
}

.widget-thumb {
    height: 105px;
    background-color: #4c75a3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
}

.widget-thumb img.well-thumb,
.widget-header h3 img {
    padding: 1px;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 4px;
    transition: all 0.2s ease-in-out 0s;
    display: inline;
    margin-right: 20px;
}

img.well-thumb.pull-left.bump-down {
    margin-top: 15px;
}

.smccd-widget {
    padding: 30px;
}

.smcccd-widget-danger {
    background: #72312b;
    color: #fff;
}

.smcccd-widget-primary {
    background: #5882b1;
    color: #fff;
}

.smcccd-widget-info {
    background: #2E2E2E;
    color: #fff;
}

a.smcccd-inverse,
a.smcccd-inverse:active,
a.smcccd-inverse:visited {
    color: white;
}

a.smcccd-inverse:hover {
    color: #C2C2C2;
}

.smcccd-widget-padding-md {
    padding: 30px;
}

.widget-image img {
    width: 100%;
    border-radius: 5px
}

.widget-image {
    margin-bottom: 5px;
}

.widget-block-excerpt:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}


/*main*/

.widget-block-inner {
    background: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.widget-block-inner:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.widget-block.post-entry p:last-child {
    margin: 0
}

.widget-block-header {
    margin-bottom: 10px;
    margin-top: 15px;
}

.widget-block-title {
    position: relative;
    margin: 0;
    font-size: 1.631em;
    line-height: 1.4em;
}


/*entry thumbnail*/

.widget-block.span_1_of_1 .widget-block-title {
    font-size: 1.846em;
    margin-bottom: 20px;
}

.widget-block-thumbnail a {
    display: block;
    position: relative;
}

.widget-block-thumbnail img {
    display: block;
    width: 100%;
}

.widget-block-thumbnail a:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
}

.widget-block-thumbnail a:hover:before {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

.widget-block-links {
    margin-top: 10px;
}

.widget-block-thumbnail img {
    box-shadow: #000 0em 0em 0em;
    nowhitespace: afterproperty;
    border-radius: 3px 3px 0 0;
}


/*entry content*/

.widget-block-content {
    padding: 30px;
    padding-top: 20px;
    color: #777;
}

.widget-block-content:after,
.widget-block:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
