ol.list-steps {
    counter-reset: li;
    list-style: none;
    padding: 0;
    margin-bottom: 4em;
    padding-left: 0px;
}

ol.list-steps li {
    position: relative;
    display: block;
    padding: 1.5em .4em 1.2em 3.5em;
    margin: 3em 0;
    background: #f7f7f7;
    text-decoration: none;
    border-radius: .3em;
    transition: all .1s ease-out;
}

ol.list-steps {
    li.list-steps-link:hover {
        background: #5076A0;
        color: white;
        cursor: pointer;
    }
    li:before {
        content: counter(li);
        counter-increment: li;
        position: absolute;
        left: 0.5em;
        top: 0%;
        margin-top: -1.3em;
        height: 3em;
        width: 3em;
        line-height: 2.4em;
        border: .3em solid #fff;
        text-align: center;
        border-radius: 2em;
        transition: all .1s ease-out;
    }
    > li:before {
        background: #5882b1;
        color: white;
    }
    > li:nth-child(2):before {
        background: #58231E;
    }
    > li.list-steps-link:nth-child(2):hover {
        background: #72312b;
    }
    > li:nth-child(3):before {
        background: #7C863C;
    }
    > li.list-steps-link:nth-child(3):hover {
        background: #7C863C;
    }
    ol {
        margin: 0 0 0 2em;
    }
    > li.list-steps-link:hover a {
        color: white;
        text-decoration: none;
    }
    li.list-steps-link:hover:after {
        font-family: FontAwesome;
        font-weight: 400;
        font-style: normal;
        text-decoration: inherit;
        -webkit-font-smoothing: antialiased;
        content: "\f054";
        font-size: 100%;
        right: 25px;
        position: absolute;
    }
}

ol.list-steps-rounded.theme-inverse {
    > li {
        background: #3F3F3F;
        color: white;
        a {
            color: white;
        }
    }
    > li:before {
        background: #3F3F3F;
        color: white;
    }
    li.list-steps-link:hover {
        background: #5882b1;
        color: white;
        cursor: pointer;
        a {
            color: white;
            text-decoration: none;
        }
    }
}

ol.list-steps-rounded {
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    padding: 0;
    padding-left: 15px;
    margin-bottom: 4em;
    ol {
        margin: 0 0 0 2em;
        padding: 0;
    }
    > li {
        position: relative;
        display: block;
        padding: 1.3em 2em 1.3em 2em;
        margin: 1em 0;
        text-decoration: none;
        border-radius: .3em;
        background: #f1f1f1;
    }
    > li ol li {
        margin-bottom: 5px;
    }
    .list-title {
        font-size: 18px;
        font-weight: 600;
    }
    > li:before {
        content: counter(li);
        counter-increment: li;
        position: absolute;
        left: -1.3em;
        top: 50%;
        margin-top: -1.3em;
        background: #f1f1f1;
        height: 2.5em;
        width: 2.5em;
        font-weight: bold;
        line-height: 2em;
        border: .3em solid #fff;
        text-align: center;
        border-radius: 2em;
    }
    li.list-steps-link:after {
        font-family: FontAwesome;
        font-weight: 400;
        font-style: normal;
        text-decoration: inherit;
        -webkit-font-smoothing: antialiased;
        content: "\f054";
        font-size: 100%;
        right: 25px;
        position: absolute;
    }
}

ul.list-icon-folder {
    li {
        list-style-type: none;
    }
    li:before {
        .addFontAIcon(@fa-var-folder-open);
        color: #444;
        margin: 0 5px 0 -20px;
    }
}

section.section-widget-group .row {
    margin-bottom: 20px;
}
