ul.big-list {
    font-size: @ul-big-list-font-size;
    padding: 0;
    margin: 0;

    li {
        list-style: none;
        margin: 0;
        padding: @ul-big-list-li-padding;
        margin-bottom: @ul-big-list-li-padding;
        padding-bottom: @ul-big-list-li-padding;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-color: @ul-big-list-li-border-color;
    }
    li:hover {
        background: @ul-big-list-hover-bg;
    }
}