.masonry-grid {
    min-height: 100%;
    min-height: 100vh;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 20px;
}

.masonry-grid {
    display: none;
}

.masonry-grid img {
    max-width: 100%;
}


.masonry-grid:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.masonry-grid .widget-block {
    margin-left: 0;
    margin-bottom: 30px;
    padding: 0 15px;
}







.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}


/*custom widths for masonry*/

.masonry-grid .widget-block {
    margin-left: 0;
    margin-bottom: 30px;
    padding: 0 15px;
}

.entry-columns-1 .masonry-grid {
    margin: 0;
}

.entry-columns-1 .masonry-grid .widget-block {
    width: 100%;
    margin: 0 0 30px;
}


/* Masonry Tweak
================================================== */

@media only screen and (min-width: 960px) and (max-width: 1300px) {
    #single-post-wrap,
    #secondary-sidebar {
        width: 100%;
    }
    #secondary-sidebar {
        padding-left: 0;
    }
    /*grids*/
}


/* Mobile (Portrait & Landscape)
================================================== */

@media only screen and (max-width: 767px) {
    .masonry-grid {
        margin-left: 0;
        margin-right: 0;
    }
    .widget-block {
        width: 100% !important;
        margin: 0 0 25px !important;
    }
}

