ul.event-list {
    padding: 0;
    margin: 0;
}

ul.event-list li {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

ul.event-list .title {
    font-size: 110%;
    font-weight: 400;
}

ul.event-list .title a {}

ul.event-list .fa {
    color: #bbb;
}

.event-section-title {
    font-weight: 400;
    font-size: 170%;
}

.event-date {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 130%;
}
