.quick-task-panel {
    padding: 30px 0;
}

.theme-light {
    background: @theme-gray-lighter;
    .quick-task,
    .quick-task a {
        color: @gray;
    }
}

.quick-task {
    a{
        display: block;
        text-align: center;
        &:hover{
            text-decoration: none;
        }
    }
    .fa {
        border: 1px solid @gray-light;
        border-radius: 50%;
        height: 54px;
        width: 54px;
        display: block;
        margin: 0 auto 10px;
        transition: all .3s ease-in-out;
        text-align: center;
        line-height: 2.1em;
        &:hover{
            transform: scale(1.2);
            border-color: @theme-gray-lighter;
            color: @gray;
        }
    }
    .fa-2x {
        font-size: 1.6em;
    }
}

.new-slide-caption h1 {
    font-size: 32px;
}

.news-text {
    h3 {
        font-size: 20px;
    }
    p {
        color: #777;
        font-size: 130%;
    }
}

.mainslider .flexFull.flexslider .slides>li>div.background-image,
.flexFull.flexslider,
.mainslider {
    height: 450px;
}

section.colleges {
    background-color: @gray-lighter;
   
}

